:host {
    display: block;
}

input:checked ~ .dot {
    transform: translateX(100%);
    background-color: #48bb78;
}

.label {
    @apply text-gray46 inline-block py-1.5 text-base font-medium;
}

.input {
    @apply border-grayD h-10 w-full rounded-lg border;
}
