<section>
    <h2 class="text-4xl font-bold leading-10">Appointments</h2>
    <div class="my-5 mb-3 flex items-center justify-between">
        <app-appointment-filter></app-appointment-filter>
        <div class="flex items-center justify-end gap-3">
            <div class="flex items-center justify-start gap-2">
                <input
                    type="text"
                    pInputText
                    size="small"
                    (input)="onSearch($event)" />
                <p-button
                    styleClass="bg-green"
                    size="large"
                    icon="pi pi-search" />
            </div>
            <p-button
                size="small"
                styleClass="bg-green py-2"
                (onClick)="show('create')">
                <i class="pi pi-plus"></i> Create</p-button
            >
        </div>
    </div>

    <div>
        <div class="rounded-md">
            @if (appointmentListStateService.select('loading') | async) {
                <div class="text-center">
                    <p-progressSpinner ariaLabel="loading"></p-progressSpinner>
                </div>
            } @else {
                @let appointments =
                    appointmentListStateService.select('appointments') | async;
                @if (appointments !== null && appointments.length > 0) {
                    <app-appointment-table
                        [appointments]="appointments"
                        [(editMode)]="editMode"></app-appointment-table>
                } @else {
                    <div class="mt-6 text-center">No appointments found!</div>
                }
            }
        </div>
    </div>
</section>
