<div class="flex flex-col justify-center items-center mt-16">
    <img src="/assets/images/role-select.png" alt="">
    <!-- <h1 class="text-4xl text-green-600 font-semibold">Please!</h1> -->
    <h1 class="text-4xl text-green-600 ">Select your role</h1>
    <div class="flex mt-4">
        <div [routerLink]="['/lawyer-team']"  class="card">
            <div class="card-details">
                <h1>Lawyer</h1>
            </div>
        </div>
        <div [routerLink]="['/client-team']" class="card">
            <div class="card-details">
                <h1>Client</h1>
            </div>
        </div>
    </div>
</div>
