:host {
    display: block;
}

.button-group-container {
    display: flex;
    gap: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    flex-wrap: wrap;
    background-color: rgb(255 255 255);
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.button-group-button {
    min-width: 5rem;
}
