<div class="button-group-container">
    <button class="button-group-button" mat-flat-button>Data Dump</button>
    <button
        [routerLink]="['/']"
        class="button-group-button"
        mat-flat-button
        color="primary">
        Requirements
    </button>
    <button
        [routerLink]="['/test-protocol']"
        class="button-group-button"
        mat-flat-button>
        Test Protocol
    </button>
    <button
        [routerLink]="['/approvals']"
        class="button-group-button"
        mat-flat-button>
        Approvals
    </button>
</div>
