<div>
    <a class="flex justify-center pt-2">
        <img
            *ngIf="!isCollapsed"
            [routerLink]="['/']"
            src="assets/logo/sheresta.png"
            class="h-16 w-48 cursor-pointer"
            alt="Full Logo" />

        <img
            *ngIf="isCollapsed"
            [routerLink]="['/']"
            src="assets/logo/sheresta1.png"
            class="h-12 w-12 cursor-pointer"
            alt="Collapsed Logo" />
    </a>
</div>
<div class="space-y-6 px-2">
    <ul class="mt-6 space-y-1">
        <li>
            <a
                [routerLink]="['/dashboard-home']"
                routerLinkActive="bg-green-800 hover:bg-green-700 "
                class="flex items-center gap-4 rounded-sm px-4 py-2 font-medium text-black hover:bg-green-100">
                <i class="pi pi-home !text-2xl"></i>
                <span class="font-medium" *ngIf="!isCollapsed">Home</span>
                <!-- Hide text when collapsed -->
            </a>
        </li>
        <li>
            <a
                [routerLink]="['/admin-userlist']"
                routerLinkActive="bg-green-800 hover:bg-green-700 "
                class="flex items-center gap-4 rounded-sm px-4 py-2 font-medium text-black hover:bg-green-100">
                <i class="pi pi-users !text-2xl"></i>
                <span class="font-medium" *ngIf="!isCollapsed"
                    >User Management</span
                >
                <!-- Hide text when collapsed -->
            </a>
        </li>
        <li>
            <a
                [routerLink]="['/dashboard/area-management']"
                routerLinkActive="bg-green-800 hover:bg-green-700 "
                class="flex items-center gap-4 rounded-sm px-4 py-2 font-medium text-black hover:bg-green-100">
                <!-- <hlm-icon
                    routerLinkActive=""
                    class="text-gray-500"
                    size="lg"
                    name="lucideCombine" /> -->
                <i class="pi pi-map !text-2xl"></i>
                <span class="font-medium" *ngIf="!isCollapsed"
                    >Area Management</span
                >
                <!-- Hide text when collapsed -->
            </a>
        </li>
        <li>
            <a
                [routerLink]="['/group-management']"
                routerLinkActive="bg-green-800 hover:bg-green-700 "
                class="flex items-center gap-4 rounded-sm px-4 py-2 font-medium text-black hover:bg-green-100">
                <!-- <hlm-icon
                    routerLinkActive=""
                    class="text-gray-500"
                    size="lg"
                    name="lucideGroup" /> -->
                <i class="pi pi-users !text-2xl"></i>
                <span class="font-medium" *ngIf="!isCollapsed"
                    >Group Management</span
                >
                <!-- Hide text when collapsed -->
            </a>
        </li>
        <li>
            <a
                [routerLink]="['/client-client-user-list']"
                routerLinkActive="bg-green-800 hover:bg-green-700 "
                class="flex items-center gap-4 rounded-sm px-4 py-2 font-medium text-black hover:bg-green-100">
                <i class="pi pi-user !text-2xl"></i>
                <span class="font-medium" *ngIf="!isCollapsed"
                    >Client List</span
                >
            </a>
        </li>
        <li>
            <a
                [routerLink]="['/lawyer-list']"
                routerLinkActive="bg-green-800 hover:bg-green-700 "
                class="flex items-center gap-4 rounded-sm px-4 py-2 font-medium text-black hover:bg-green-100">
                <i class="pi pi-graduation-cap !text-2xl"></i>
                <span class="font-medium" *ngIf="!isCollapsed"
                    >Lawyer List</span
                >
            </a>
        </li>
        <li>
            <a
                [routerLink]="['/plan-list']"
                routerLinkActive="bg-green-800 hover:bg-green-700 "
                class="flex items-center gap-4 rounded-sm px-4 py-2 font-medium text-black hover:bg-green-100">
                <i class="pi pi-dollar !text-2xl"></i>
                <span class="font-medium" *ngIf="!isCollapsed"
                    >Plan List</span
                >
            </a>
        </li>
        <li>
            <a
                [routerLink]="['/blogs']"
                routerLinkActive="bg-green-800 hover:bg-green-700 "
                class="flex items-center gap-4 rounded-sm px-4 py-2 font-medium text-black hover:bg-green-100">
                <i class="pi pi-pen-to-square !text-2xl"></i>
                <span class="font-medium" *ngIf="!isCollapsed">Blogs</span>
            </a>
        </li>
        <li>
            <a
                [routerLink]="['/news']"
                routerLinkActive="bg-green-800 hover:bg-green-700 "
                class="flex items-center gap-4 rounded-sm px-4 py-2 font-medium text-black hover:bg-green-100">
                <i class="pi pi-megaphone !text-2xl"></i>
                <span class="font-medium" *ngIf="!isCollapsed">News</span>
            </a>
        </li>
    </ul>
</div>
