.card {
    width: fit-content;
    height: 20px;
    border-radius: 10px;
    background: hsl(0, 0%, 100%);
    padding: 1.2rem;
    border: 2px solid #d3d3d3;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    transition: 0.5s ease-out;
    overflow: visible;
    cursor: pointer;
}

.card-details {
    color: rgb(75 85 99);
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: 550;
    font-size: 1.2rem;
    line-height: 1rem;
}

/*Hover*/
.card:hover {
    border-color: #2cc459;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}
