<div class="flex mt-32 justify-between gap-32 items-start">
    <img src="assets/images/team-select.png" alt="" />
    <div>
        <h1 class="text-4xl text-center text-green-600">Select your Team</h1>

        <div class="mt-8 font-bold space-y-4">
            <div [routerLink]="['/home']" class="card">
                <div class="card-details">
                    <h1>Team-1</h1>
                </div>
            </div>
            <div [routerLink]="['/home']" class="card">
                <div class="card-details">
                    <h1>Team-2</h1>
                </div>
            </div>
            <div [routerLink]="['/home']" class="card">
                <div class="card-details">
                    <h1>Team-3</h1>
                </div>
            </div>
            <div [routerLink]="['/home']" class="card">
                <div class="card-details">
                    <h1>Team-4</h1>
                </div>
            </div>
            <div [routerLink]="['/home']" class="card">
                <div class="card-details">
                    <h1>Team-5</h1>
                </div>
            </div>
        </div>
    </div>
</div>

