<div class="mt-32 flex items-start justify-between gap-32">
    <img src="assets/images/team-select.png" alt="" />
    <div>
        <h1 class="text-center text-4xl text-green-600">Select your Team</h1>

        <div class="mt-8 space-y-4 font-bold">
            <div [routerLink]="['/home']" class="card">
                <div class="card-details">
                    <h1>Team-1</h1>
                </div>
            </div>
            <div [routerLink]="['/home']" class="card">
                <div class="card-details">
                    <h1>Team-2</h1>
                </div>
            </div>
            <div [routerLink]="['/home']" class="card">
                <div class="card-details">
                    <h1>Team-3</h1>
                </div>
            </div>
            <div [routerLink]="['/home']" class="card">
                <div class="card-details">
                    <h1>Team-4</h1>
                </div>
            </div>
            <div [routerLink]="['/home']" class="card">
                <div class="card-details">
                    <h1>Team-5</h1>
                </div>
            </div>
        </div>
    </div>
</div>
