:host {
    display: block;
}

.ad--top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding-top: 0.25rem;
}

.ad--top-section {
    display: flex;
    flex-direction: column;
}

.ad--input {
    width: 100%;
}

.ad--footer {
    display: flex;
    justify-content: flex-end;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1rem;
}

.ad--invite {
    width: 100%;
}

.ad--invite-row {
    display: flex;
    gap: 1rem;
}

.ad--invite-button {
    width: 6rem;
    padding: 1.08rem;
}

.ad--invite-add {
    margin-top: 0.25rem;
    width: 1.5rem;
    height: 1.5rem;
}

.ad--type--radio {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

.ad--invite-input {
    max-width: 32rem;
}
