<h2 mat-dialog-title>Approval for Document name</h2>

<mat-dialog-content>
    <div class="ad--top">
        <div class="ad--top-section">
            <mat-form-field class="ad--input" appearance="outline">
                <mat-label>Document ID</mat-label>
                <input matInput />
            </mat-form-field>
            <mat-form-field class="ad--input" appearance="outline">
                <mat-label>Requirement Version</mat-label>
                <input matInput />
            </mat-form-field>
            <mat-form-field class="ad--input" appearance="outline">
                <mat-label>Date</mat-label>
                <input
                    matInput
                    [matDatepicker]="datePicker"
                    placeholder="Date" />
                <mat-datepicker-toggle
                    matSuffix
                    [for]="datePicker"></mat-datepicker-toggle>
                <mat-datepicker #datePicker></mat-datepicker>
            </mat-form-field>
        </div>

        <div class="ad--top-section">
            <mat-form-field class="ad--input" appearance="outline">
                <mat-label>Requirement Number</mat-label>
                <input matInput />
            </mat-form-field>
            <mat-form-field class="ad--input" appearance="outline">
                <mat-label>Draft Number</mat-label>
                <input matInput />
            </mat-form-field>
            <mat-form-field class="ad--input" appearance="outline">
                <mat-label>Author</mat-label>
                <input matInput />
            </mat-form-field>
        </div>
    </div>

    <div class="ad--content">
        <mat-form-field class="ad--input" appearance="outline">
            <mat-label>Resolution</mat-label>
            <textarea matInput rows="5"></textarea>
        </mat-form-field>
    </div>

    <div class="ad--type">
        <mat-label>Type</mat-label>
        <div class="ad--type--radio">
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1">Series</mat-radio-button>
                <mat-radio-button value="2">Parallel</mat-radio-button>
            </mat-radio-group>
        </div>
    </div>

    <div class="ad--invite">
        <div class="ad--invite-row">
            <mat-form-field class="ad--invite-input" appearance="outline">
                <input matInput />
            </mat-form-field>
            <button mat-stroked-button class="ad--invite-button">Invite</button>
            <div class="ad--invite-add"></div>
        </div>
        <div class="ad--invite-row">
            <mat-form-field class="ad--invite-input" appearance="outline">
                <input matInput />
            </mat-form-field>
            <button mat-stroked-button class="ad--invite-button">Invite</button>
            <div class="ad--invite-add">
                <button mat-icon-button>
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions class="ad--footer">
    <button
        mat-raised-button
        color="primary"
        [mat-dialog-close]="null"
        cdkFocusInitial>
        Save
    </button>
</mat-dialog-actions>
