<h1 class="font-bold text-3xl">Teams</h1>

<div class="flex mt-4">
    <button class="btn-fill">Invite User</button>
</div>

<table class="min-w-full">
    <thead class="bg-gray-50 dark:bg-gray-700">
        <tr>
            <th
                scope="col"
                class="px-6 py-3 text-left text-xs font-bold text-gray-500 uppercase tracking-wider">
                User name
            </th>
            <th
                scope="col"
                class="px-6 py-3 text-left text-xs font-bold text-gray-500 uppercase tracking-wider">
                Email
            </th>
            <th
                scope="col"
                class="px-6 py-3 text-left text-xs font-bold text-gray-500 uppercase tracking-wider">
                Role
            </th>
            <th
                scope="col"
                class="px-6 py-3 text-left text-xs font-bold text-gray-500 uppercase tracking-wider">
                Join Date
            </th>
            <th
                scope="col"
                class="px-6 py-3 text-left text-xs font-bold text-gray-500 uppercase tracking-wider">
                Action
            </th>
        </tr>
    </thead>
    <tbody
        class="bg-white dark:bg-gray-800 divide-y divide-gray-200 dark:divide-gray-700">
        @for (user of teams; track user) {
            <tr>
                <td
                    class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900 dark:text-white">
                    {{ user.name }}
                </td>
                <td
                    class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 dark:text-gray-400">
                    {{ user.email }}
                </td>
                <td
                    class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 dark:text-gray-400">
                    {{ user.role }}
                </td>
                <td
                    class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 dark:text-gray-400">
                    {{ user.joinDate }}
                </td>

                <td class="px-6 whitespace-nowrap text-sm font-medium">
                    <div class="flex gap-2">
                        <button>
                            <i class="pi pi-cog text-sm"></i>
                        </button>
                        <button>
                            <i class="pi pi-trash text-sm"></i>
                        </button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
