<div class="p-4">
    <div class="flex justify-between">
        <div>
            <h1 class="text-4xl font-normal">Case Number</h1>
            <p class="text-xl font-semibold">12</p>
        </div>
        <div>
            <div class="flex items-center gap-2">
                <i class="pi pi-calendar text-lg"></i>
                <h1 class="text-4xl font-normal">29/5/2024</h1>
            </div>
            <div class="flex items-center gap-2">
                <i class="pi pi-map-marker text-lg"></i>
                <h1 class="mt-2 text-xl font-normal">Tribunal-1</h1>
            </div>
        </div>
    </div>

    <div class="mt-12 grid grid-cols-3 items-center justify-between">
        <div class="space-y-8 py-24 text-center">
            <h1><u class="text-2xl font-bold">Plantiff</u></h1>
            <p class="text-6xl">John Kabir</p>
        </div>
        <div class="text-center">
            <h1 class="text-4xl font-bold text-green-500">VS</h1>
        </div>
        <div class="space-y-8 py-24 text-center">
            <h1><u class="text-2xl font-bold">Defendant</u></h1>
            <p class="text-6xl">Tahsan Khan</p>
        </div>
    </div>

    <div class="mt-12">
        <h1 class="text-2xl font-bold">Overview</h1>

        <div class="mt-4 p-4">
            <h1>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum
                nobis voluptatibus corrupti odit. Sunt quaerat esse earum quasi
                veritatis necessitatibus corporis perferendis exercitationem
                illum iste iure eius, non, labore voluptatibus voluptas tempore
                eveniet aperiam eum sapiente amet nisi laborum dolores. Est,
                ipsa dolore accusantium quis laborum distinctio perferendis
                numquam fuga!
            </h1>
        </div>
    </div>

    <div class="mt-12 grid grid-cols-2 items-center justify-between gap-12">
        <div>
            <h1 class="text-2xl font-bold">History</h1>
            <div class="mt-4 p-4">
                <h1>Lorem ipsum dolor sit amet consectetur</h1>
                <hr />
                <h1>Lorem ipsum dolor sit amet consectetur</h1>
                <hr />
                <h1>Lorem ipsum dolor sit amet consectetur</h1>
                <hr />
                <h1>Lorem ipsum dolor sit amet consectetur</h1>
                <hr />
                <h1>Lorem ipsum dolor sit amet consectetur</h1>
            </div>
        </div>
        <div>
            <h1 class="text-2xl font-bold">Notes</h1>
            <div class="mt-4 p-4">
                <h1>Lorem ipsum dolor sit amet consectetur</h1>
                <hr />
                <h1>Lorem ipsum dolor sit amet consectetur</h1>
                <hr />
                <h1>Lorem ipsum dolor sit amet consectetur</h1>
                <hr />
                <h1>Lorem ipsum dolor sit amet consectetur</h1>
                <hr />
                <h1>Lorem ipsum dolor sit amet consectetur</h1>
            </div>
        </div>
    </div>

    <div class="mt-6 w-1/2">
        <h1 class="text-2xl font-bold">Documents</h1>
        <div class="mt-4 p-4">
            <h1>Lorem ipsum dolor sit amet consectetur</h1>
            <hr />
            <h1>Lorem ipsum dolor sit amet consectetur</h1>
            <hr />
            <h1>Lorem ipsum dolor sit amet consectetur</h1>
            <hr />
            <h1>Lorem ipsum dolor sit amet consectetur</h1>
            <hr />
            <h1>Lorem ipsum dolor sit amet consectetur</h1>
        </div>
    </div>
</div>
