<section class="relative mx-4 md:mx-16">
    <div class="my-4">
        <h2 class="text-gray3a text-4xl font-semibold leading-loose">
            Lawyers
        </h2>
        <p class="text-gray59 text-xl font-semibold">
            This title is professional and inviting, encouraging visitors to
            learn more about the talented lawyers at our firm.
        </p>
    </div>

    <div class="mt-4 md:flex md:items-center md:justify-between">
        <div class="gap-4 md:flex md:items-center md:justify-center">
            <p-button
                icon="pi pi-spin pi-filter"
                label="Filters"
                [raised]="true"
                severity="success" />

            <div class="gap-3 md:flex md:items-center md:justify-center">
                <!--  ---------------->
                <div class="card mt-2 flex justify-center md:mt-0">
                    <p-select
                        [options]="districts"
                        [(ngModel)]="selectedDistrict"
                        optionLabel="name"
                        [filter]="true"
                        filterBy="name"
                        [showClear]="true"
                        placeholder="Sort by district"
                        class="text-primary-gray w-full rounded-xl px-3 text-lg shadow-sm md:w-56"
                        (click)="getDistrict()">
                        <ng-template #selectedItem let-selectedOption>
                            <div class="flex items-center gap-2">
                                <div>{{ selectedOption.name }}</div>
                            </div>
                        </ng-template>
                        <ng-template let-district #item>
                            <div class="flex items-center gap-2">
                                <div>{{ district.name }}</div>
                            </div>
                        </ng-template>
                    </p-select>
                    <!-- <button (click)="submit()">Submit</button> -->
                </div>

                <div class="card mt-2 flex justify-center md:mt-0">
                    <p-select
                        [options]="districts"
                        [(ngModel)]="selectedDistrict"
                        optionLabel="thana"
                        [filter]="true"
                        filterBy="name"
                        [showClear]="true"
                        placeholder="Sort by thana"
                        [ngClass]="{
                            'cursor-not-allowed opacity-50': !selectedDistrict,
                        }"
                        [disabled]="!selectedDistrict"
                        class="border-graybc text-primary-gray w-full rounded-xl border px-3 text-lg md:w-56"
                        (click)="getThana()">
                        <ng-template #selectedItem let-selectedOption>
                            <div class="flex items-center gap-2">
                                <div>{{ selectedOption.thana[0] }}</div>
                            </div>
                        </ng-template>
                        <ng-template let-district #item>
                            <div class="flex items-center gap-2">
                                <div *ngFor="let thana of district.thana">
                                    {{ thana }}
                                </div>
                            </div>
                        </ng-template>
                    </p-select>
                    <!-- <button (click)="submit()">Submit</button> -->
                </div>
                <!-- ------------------- -->
            </div>
        </div>

        <div class="mt-2 flex items-center justify-center gap-2.5 md:mt-0">
            <input
                class="h-12 w-72 rounded-xl bg-white px-3 shadow-sm shadow-black/20 lg:inline-block"
                pInputText
                [(ngModel)]="searchText"
                type="text"
                placeholder="Search" />

            <div
                class="bg-lightGreen flex items-center justify-center rounded-xl p-4 shadow-sm shadow-black/20"
                (click)="onSearch()">
                <span class="pi pi-search"></span>
            </div>
        </div>
    </div>

    <div class="grid gap-3 py-6 md:grid-cols-2 lg:grid-cols-12">
        @for (i of displayedLawyers; track $index) {
            <p-card
                class="gradient-border col-span-4 rounded-2xl bg-transparent p-0.5 transition-all duration-300 ease-linear">
                <div class="relative h-full w-full rounded-2xl bg-white">
                    <div class="flex items-start justify-start gap-2">
                        <p-avatar
                            [image]="i.img"
                            size="large"
                            shape="circle"
                            class="h-16 w-28 rounded-full object-cover"></p-avatar>

                        <span class="inline-block">
                            <h3 class="text-2xl font-semibold text-black">
                                {{ i.name }}
                            </h3>
                            <p class="text-gray59 text-sm">
                                {{ i.title }}
                            </p>
                            <p
                                class="text-gray59 mt-2 flex items-center gap-2 text-sm md:mt-0">
                                <span class="pi pi-verified"></span>
                                {{ i.specialization }}
                            </p>
                            <p
                                class="text-gray59 flex items-center gap-2 text-sm">
                                <span class="pi pi-graduation-cap"></span>
                                {{ i.education }}
                            </p>
                            <p
                                class="text-gray59 flex items-center gap-2 text-sm">
                                <span class="pi pi-phone"></span>

                                {{ i.contact }}
                            </p>
                            <p
                                class="text-gray59 flex items-center gap-2 text-sm">
                                <span class="pi pi-envelope p"></span>

                                {{ i.contact }}
                            </p>
                            <hr class="border-grayc5 my-2.5 w-4/5 border-t" />
                            <p class="whitespace-pre-wrap text-sm font-medium">
                                {{ i.description }}
                            </p>
                        </span>
                    </div>
                    <div
                        class="text-gray43 absolute right-4 top-0 hidden items-center justify-center rounded-2xl px-3 py-0.5 text-xs md:flex"
                        [ngStyle]="{ background: i.bg }">
                        <span>{{ i.content }}</span>
                    </div>
                </div>
            </p-card>
        }
    </div>

    <div class="flex items-center justify-center gap-4 py-8">
        <p-paginator
            [rows]="rowsPerPage"
            [totalRecords]="totalRecords"
            (onPageChange)="onPageChange($event)"
            class="mt-4">
        </p-paginator>
    </div>
</section>
