<section class="relative mx-4 md:mx-16">
    <div class="my-4">
        <h2 class="text-gray3a text-4xl font-semibold leading-loose">
            Lawyers
        </h2>
        <p class="text-gray59 text-xl font-semibold">
            This title is professional and inviting, encouraging visitors to
            learn more about the talented lawyers at our firm.
        </p>
    </div>

    <div class="mt-4 md:flex md:items-center md:justify-between">
        <div class="gap-4 md:flex md:items-center md:justify-center">
            <p-button
                icon="pi pi-spin pi-filter"
                label="Filters"
                [raised]="true"
                severity="success" />

            <div class="gap-3 md:flex md:items-center md:justify-center">
                <div class="card mt-2 flex justify-center md:mt-0">
                    <p-select
                        [options]="districts"
                        [(ngModel)]="selectedDistrict"
                        optionLabel="name"
                        [filter]="true"
                        filterBy="name"
                        [showClear]="true"
                        placeholder="Sort by district"
                        class="text-primary-gray w-full rounded-xl px-3 text-lg shadow-sm md:w-56">
                        <ng-template #selectedItem let-selectedOption>
                            <div class="flex items-center gap-2">
                                <div>{{ selectedOption.name }}</div>
                            </div>
                        </ng-template>
                        <ng-template let-district #item>
                            <div class="flex items-center gap-2">
                                <div>{{ district.name }}</div>
                            </div>
                        </ng-template>
                    </p-select>
                    <!-- <button (click)="submit()">Submit</button> -->
                </div>

                <div class="card mt-2 flex justify-center md:mt-0">
                    <p-select
                        [options]="districts"
                        [(ngModel)]="selectedDistrict"
                        optionLabel="thana"
                        [filter]="true"
                        filterBy="name"
                        [showClear]="true"
                        placeholder="Sort by thana"
                        [ngClass]="{
                            'cursor-not-allowed opacity-50': !selectedDistrict,
                        }"
                        [disabled]="!selectedDistrict"
                        class="border-graybc text-primary-gray w-full rounded-xl border px-3 text-lg md:w-56">
                        <ng-template #selectedItem let-selectedOption>
                            <div class="flex items-center gap-2">
                                <div>{{ selectedOption.thana[0] }}</div>
                            </div>
                        </ng-template>
                        <ng-template let-district #item>
                            <div class="flex items-center gap-2">
                                <div *ngFor="let thana of district.thana">
                                    {{ thana }}
                                </div>
                            </div>
                        </ng-template>
                    </p-select>
                </div>
            </div>
        </div>

        <div class="mt-2 flex items-center justify-center gap-2.5 md:mt-0">
            <input
                class="h-12 w-72 rounded-xl bg-white px-3 shadow-sm shadow-black/20 lg:inline-block"
                pInputText
                [(ngModel)]="searchText"
                type="text"
                placeholder="Search" />

            <div
                class="bg-lightGreen flex items-center justify-center rounded-xl p-4 shadow-sm shadow-black/20">
                <span class="pi pi-search"></span>
            </div>
        </div>
    </div>

    @let lawyers = lawyerStateService.select('lawyers') | async;
    @let loading = lawyerStateService.select('loading') | async;
    <div class="grid gap-3 py-6 md:grid-cols-2 lg:grid-cols-12">
        @if (loading) {
            <span>Loading...</span>
        } @else {
            @for (lawyer of lawyers; track $index) {
                <div class="col-span-4">
                    <app-lawyer-card [lawyer]="lawyer" />
                </div>
            } @empty {
                <span>No Lawyer</span>
            }
        }
    </div>

    <div class="flex items-center justify-center gap-4 py-8">
        <p-paginator
            [rows]="rowsPerPage"
            [totalRecords]="totalRecords"
            (onPageChange)="onPageChange($event)"
            class="mt-4">
        </p-paginator>
    </div>
</section>
