<ngx-sonner-toaster richColors />

<ng-container [ngSwitch]="layoutService.layout$ | async">
    <app-layout-default *ngSwitchCase="PageLayout.Default">
        <router-outlet></router-outlet>
    </app-layout-default>

    <app-layout-public *ngSwitchCase="PageLayout.Public">
        <router-outlet></router-outlet>
    </app-layout-public>

    <app-layout-centered *ngSwitchCase="PageLayout.Center">
        <router-outlet></router-outlet>
    </app-layout-centered>

    <router-outlet *ngSwitchCase="PageLayout.Blank"></router-outlet>

    <app-layout-default *ngSwitchDefault>
        <router-outlet></router-outlet>
    </app-layout-default>
</ng-container>
