<h2 class="text-xl">Approval for Document Name</h2>

<div class="grid grid-cols-2 gap-12 mt-8">
    <div class="grid gap-2 grid-cols-1">
        <div class="grid grid-cols-5 items-center gap-4">
            <label hlmLabel class="col-span-2">Document ID</label>
            <input hlmInput value="" class="col-span-3" />
        </div>
        <div class="grid grid-cols-5 items-center gap-4">
            <label hlmLabel for="username" class="col-span-2"
                >Requirement Version</label
            >
            <input hlmInput value="" class="col-span-3" />
        </div>
        <div class="grid grid-cols-5 items-center gap-4">
            <label hlmLabel for="username" class="col-span-2">Due Date</label>
            <input hlmInput value="" class="col-span-3" />
        </div>
    </div>
    <div class="grid gap-2 grid-cols-1">
        <div class="grid grid-cols-5 items-center gap-4">
            <label hlmLabel class="col-span-2">Requirement Number</label>
            <input hlmInput value="" class="col-span-3" />
        </div>
        <div class="grid grid-cols-5 items-center gap-4">
            <label hlmLabel for="username" class="col-span-2"
                >Draft Number</label
            >
            <input hlmInput value="" class="col-span-3" />
        </div>
        <div class="grid grid-cols-5 items-center gap-4">
            <label hlmLabel for="username" class="col-span-2">Author</label>
            <input hlmInput value="" class="col-span-3" />
        </div>
    </div>
</div>

<div class="mt-4">
    <label hlmLabel>Resolution</label>
    <textarea
        class="min-h-[80px] w-full"
        hlmInput
        placeholder="Type your message here."></textarea>
</div>

<div class="mt-4">
    <label hlmLabel>Type</label>
    <brn-radio-group
        class="mb-4 font-medium text-sm flex gap-12 pl-12"
        hlm
        [(ngModel)]="radio">
        <brn-radio hlm value="Parallel">
            <hlm-radio-indicator indicator />
            Parallel
        </brn-radio>
        <brn-radio hlm value="Serial">
            <hlm-radio-indicator indicator />
            Serial
        </brn-radio>
    </brn-radio-group>
</div>

<div class="mt-4">
    <div class="grid gap-2 grid-cols-4 w-full max-w-md">
        <input hlmInput value="" class="col-span-3" />
        <button hlmBtn variant="secondary">Invite</button>
    </div>
</div>

<div class="mt-4 flex justify-end">
    <button hlmBtn type="submit">Save changes</button>
</div>
