<section class="flex justify-between gap-4 flex-wrap">
    <div>
        <button hlmBtn [routerLink]="['/']" variant="ghost" class="min-w-32">
            Data Dump
        </button>
        <button hlmBtn [routerLink]="['/']" variant="default" class="min-w-32">
            Requirements
        </button>
        <button
            hlmBtn
            [routerLink]="['/test-protocol']"
            variant="ghost"
            class="min-w-32">
            Test Protocol
        </button>
        <button
            hlmBtn
            [routerLink]="['/approvals']"
            variant="ghost"
            class="min-w-32">
            Approvals
        </button>
    </div>

    <div class="flex gap-4">
        <button hlmBtn
        class="bg-success text-success-foreground hover:bg-green-400" [routerLink]="['/signup']">
            Sign Up
        </button>
        <button hlmBtn [routerLink]="['/login']" variant="default" class="min-w-32">
            Login
        </button>
    </div>
</section>
