<section class="mx-4 md:mx-16">
    <section>
        <h2 class="text-gray3a my-5 text-4xl font-semibold">Blogs</h2>

        <div class="rounded-xl">
            <img
                src="https://img.freepik.com/premium-photo/business-people-lawyers-discussing-contract-papers-sitting-table-concepts-law-advice-legal-services-morning-lightxa_1090013-584.jpg?w=1060"
                alt=""
                class="h-[33rem] w-full rounded-xl object-cover" />

            <div
                class="absolute -left-10 bottom-[2.5rem] mx-4 h-auto w-full rounded-b-xl bg-transparent md:mx-16">
                <div class="relative">
                    <div
                        class="bg-black2d absolute left-0 top-0 h-full w-full rounded-b-xl opacity-70"
                        style="backdrop-filter: blur(1000px)"></div>
                    <div class="relative top-0 z-50 px-8 py-2">
                        <div class="flex items-center justify-between py-5">
                            <div>
                                <h4
                                    class="text-3xl font-semibold leading-loose text-white">
                                    Understanding Intellectual Property Law
                                </h4>
                                <p class="text-graye0 text-xl">
                                    An in-depth look at the different types of
                                    intellectual property and how they can
                                    protect your creations.
                                </p>
                            </div>

                            <span>
                                <svg
                                    width="25"
                                    height="25"
                                    viewBox="0 0 25 25"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M0 22.4821L18.9107 3.57143H7.14286V0H25V17.8571H21.4286V6.08929L2.51786 25L0 22.4821Z"
                                        fill="white" />
                                </svg>
                            </span>
                        </div>

                        <div class="flex items-center justify-between py-5">
                            <div
                                class="flex flex-col items-center justify-start gap-4 sm:flex-row sm:gap-4 md:gap-4 lg:gap-8 xl:gap-10">
                                <div
                                    class="flex items-center justify-start gap-2">
                                    <img
                                        src="https://cdn3.vectorstock.com/i/1000x1000/50/27/lawyer-icon-male-user-person-profile-avatar-vector-20905027.jpg"
                                        alt=""
                                        class="h-14 w-14 rounded-full object-cover" />
                                    <p class="text-xl text-white">John Doe</p>
                                </div>

                                <div
                                    class="flex items-center justify-start gap-2">
                                    <span
                                        class="border-graye0 inline-block rounded-full border p-2">
                                        <svg
                                            width="18"
                                            height="20"
                                            viewBox="0 0 18 20"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M4 10H6V12H4V10ZM18 4V18C18 19.11 17.11 20 16 20H2C0.89 20 0 19.1 0 18V4C0 2.9 0.9 2 2 2H3V0H5V2H13V0H15V2H16C17.11 2 18 2.9 18 4ZM2 6H16V4H2V6ZM16 18V8H2V18H16ZM12 12V10H14V12H12ZM8 12V10H10V12H8ZM4 14H6V16H4V14ZM12 16V14H14V16H12ZM8 16V14H10V16H8Z"
                                                fill="#E0E0E0" />
                                        </svg>
                                    </span>
                                    <p class="text-xl text-white">
                                        Oct 25, 2924
                                    </p>
                                </div>
                            </div>

                            <div
                                class="flex flex-col items-end justify-start gap-4 sm:flex-row sm:gap-4 md:gap-4 lg:gap-4 xl:gap-4">
                                <span
                                    class="text-graye0 inline-block rounded-full border border-white px-4 py-0.5 text-base"
                                    >Intellectual Property</span
                                >
                                <span
                                    class="text-graye0 inline-block rounded-full border border-white px-4 py-0.5 text-base"
                                    >Law</span
                                >
                                <span
                                    class="text-graye0 inline-block rounded-full border border-white px-4 py-0.5 text-base"
                                    >Legal Advice</span
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mb-8">
        <div class="relative flex w-full items-center justify-between py-10">
            <div class="w-full pt-2">
                <p-tabs [value]="0" class="">
                    <div class="mb-2 flex items-center justify-between gap-3">
                        <p-tablist class="border-b-2">
                            @for (tab of tabTags; track $index) {
                                <p-tab [value]="$index" class="">{{
                                    tab
                                }}</p-tab>
                            }
                            <!-- <div>
                                <span class="text-gray47 text-xl">
                                    <svg
                                        width="12"
                                        height="8"
                                        viewBox="0 0 12 8"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M1.41 0L6 4.59L10.59 0L12 1.42L6 7.42L0 1.42L1.41 0Z"
                                            fill="#684F4F" />
                                    </svg>
                                </span>
                            </div>  -->
                        </p-tablist>
                        <div
                            class="hidden items-center justify-center gap-2.5 md:flex">
                            <input
                                class="hidden h-11 w-72 rounded-xl bg-white px-3 shadow-sm shadow-black/20 lg:inline-block"
                                pInputText
                                [(ngModel)]="searchText"
                                type="text"
                                placeholder="Search" />

                            <div
                                class="bg-lightGreen flex items-center justify-center rounded-xl p-2.5 shadow-sm shadow-black/20"
                                (click)="onSearch()">
                                <svg
                                    class="h-6 w-6"
                                    viewBox="0 0 23 23"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M8.54286 0C10.8086 0 12.9815 0.900048 14.5836 2.50214C16.1857 4.10424 17.0857 6.27715 17.0857 8.54286C17.0857 10.6589 16.3103 12.604 15.0354 14.1023L15.3903 14.4571H16.4286L23 21.0286L21.0286 23L14.4571 16.4286V15.3903L14.1023 15.0354C12.604 16.3103 10.6589 17.0857 8.54286 17.0857C6.27715 17.0857 4.10424 16.1857 2.50214 14.5836C0.900048 12.9815 0 10.8086 0 8.54286C0 6.27715 0.900048 4.10424 2.50214 2.50214C4.10424 0.900048 6.27715 0 8.54286 0ZM8.54286 2.62857C5.25714 2.62857 2.62857 5.25714 2.62857 8.54286C2.62857 11.8286 5.25714 14.4571 8.54286 14.4571C11.8286 14.4571 14.4571 11.8286 14.4571 8.54286C14.4571 5.25714 11.8286 2.62857 8.54286 2.62857Z"
                                        fill="#424242" />
                                </svg>
                            </div>
                        </div>
                    </div>
                    <p-tabpanels class="!bg-inherit !px-0 !pt-5">
                        @for (tab of tabTags; track $index) {
                            <p-tabpanel [value]="$index">
                                <div
                                    class="grid gap-5 md:grid-cols-8 lg:grid-cols-12">
                                    @for (i of data; track $index) {
                                        @if (i.tabTag.includes(tab)) {
                                            <div
                                                class="col-span-4 rounded-md bg-white shadow-md">
                                                <img
                                                    [src]="i.image"
                                                    alt=""
                                                    class="h-56 w-full rounded-2xl p-3" />
                                                <div class="p-4">
                                                    <div
                                                        class="flex justify-start gap-2">
                                                        @for (
                                                            tag of i.tags;
                                                            track $index
                                                        ) {
                                                            <div
                                                                class="flex justify-start gap-2">
                                                                <span
                                                                    class="border-gray59 text-gray59 inline-block rounded-full border px-4 text-sm"
                                                                    >{{ tag }}
                                                                    <!-- tag.tags[$index] -->
                                                                </span>
                                                            </div>
                                                        }
                                                    </div>
                                                    <div class="mb-5 mt-3">
                                                        <h5
                                                            class="pb-3 text-xl font-semibold text-black">
                                                            {{ i.title }}
                                                        </h5>
                                                        <p
                                                            class="text-gray59 text-base font-semibold">
                                                            {{ i.description }}
                                                        </p>
                                                    </div>
                                                    <div
                                                        class="flex items-center justify-between">
                                                        <div
                                                            class="flex items-center justify-start gap-4">
                                                            <div
                                                                class="flex items-center justify-start gap-2.5">
                                                                <img
                                                                    [src]="
                                                                        i.avatorImage
                                                                    "
                                                                    alt=""
                                                                    class="h-9 w-9 rounded-full" />
                                                                <span
                                                                    class="text-gray59 text-xs font-semibold"
                                                                    >{{
                                                                        i.name
                                                                    }}</span
                                                                >
                                                            </div>
                                                            <div
                                                                class="flex items-center justify-start gap-2.5">
                                                                <span>
                                                                    <svg
                                                                        width="15"
                                                                        height="15"
                                                                        viewBox="0 0 15 15"
                                                                        fill="none"
                                                                        xmlns="http://www.w3.org/2000/svg">
                                                                        <path
                                                                            d="M2.5 2H3V1.5V0.5H3.66667V1.5V2H4.16667H10.8333H11.3333V1.5V0.5H12V1.5V2H12.5H13.3333C14.0313 2 14.5 2.49786 14.5 3V13.5C14.5 14.0081 14.033 14.5 13.3333 14.5H1.66667C0.968654 14.5 0.5 14.0021 0.5 13.5V3C0.5 2.49939 0.975286 2 1.66667 2H2.5ZM1.16667 4.5V5H1.66667H13.3333H13.8333V4.5V3V2.5H13.3333H1.66667H1.16667V3V4.5ZM13.3333 14H13.8333V13.5V6V5.5H13.3333H1.66667H1.16667V6V13.5V14H1.66667H13.3333ZM4.5 8V8.5H3.83333V8H4.5ZM10.5 8.5V8H11.1667V8.5H10.5ZM7.16667 8.5V8H7.83333V8.5H7.16667ZM4.5 11V11.5H3.83333V11H4.5ZM10.5 11.5V11H11.1667V11.5H10.5ZM7.16667 11.5V11H7.83333V11.5H7.16667Z"
                                                                            fill="#E0E0E0"
                                                                            stroke="#595959" />
                                                                    </svg>
                                                                </span>
                                                                <span
                                                                    class="text-gray59 text-xs font-semibold"
                                                                    >{{
                                                                        i.date
                                                                    }}</span
                                                                >
                                                            </div>
                                                        </div>
                                                        <span>
                                                            <svg
                                                                width="25"
                                                                height="25"
                                                                viewBox="0 0 25 25"
                                                                fill="none"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <path
                                                                    d="M0 22.4821L18.9107 3.57143H7.14286V0H25V17.8571H21.4286V6.08929L2.51786 25L0 22.4821Z"
                                                                    fill="#595959" />
                                                            </svg>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </p-tabpanel>
                        }
                    </p-tabpanels>
                </p-tabs>
            </div>
        </div>
    </section>
</section>
