@if (post(); as post) {
    <div class="flex items-center justify-start gap-3 border-b pb-1">
        <div class="h-24 w-[15%] overflow-hidden">
            <img
                [src]="post.image"
                class="h-24 w-full rounded-md object-cover object-center"
                alt="" />
        </div>
        <div class="w-[20%]">{{ post.title }}</div>
        <div class="w-[20%]">{{ post.description }}</div>
        <div class="w-[18%] space-x-2">
            @for (tag of post.tags; track tag) {
                <span
                    class="space-y-2 rounded-full border-[1px] px-4 py-[1px] text-xs text-gray-500">
                    {{ tag }}
                </span>
            }
        </div>
        <div class="w-[12%]">Written By</div>
        <div class="flex w-[15%] items-center justify-start gap-3">
            <p-button
                icon="pi pi-pen-to-square"
                [outlined]="true"
                [raised]="true"
                (click)="onEdit(post)" />
            <p-button
                severity="danger"
                icon="pi pi-trash"
                [outlined]="true"
                [raised]="true" />
        </div>
    </div>
}
