<section class="bg-lightGray flex justify-evenly items-center py-6">
    <div class="flex flex-col items-center justify-center">
        <span class="text-4xl text-grayShade">5021</span>
        <span class="text-2xl text-gray59">Total Cases</span>
    </div>
    <div class="flex flex-col items-center justify-center">
        <span class="text-4xl text-grayShade">5021</span>
        <span class="text-2xl text-gray59">Total Clients</span>
    </div>
    <div class="flex flex-col items-center justify-center">
        <span class="text-4xl text-grayShade">5021</span>
        <span class="text-2xl text-gray59">Total Lawyers</span>
    </div>
    <div class="flex flex-col items-center justify-center">
        <span class="text-4xl text-grayShade">5021</span>
        <span class="text-2xl text-gray59">Total Organizations</span>
    </div>
</section>
