<section class="bg-lightGray w-full overflow-x-clip">
    <div
        class="mx-14 flex flex-col flex-wrap items-center justify-evenly gap-7 py-6 sm:flex-row md:gap-7 lg:gap-28">
        <div class="flex flex-col items-center justify-center">
            <span class="text-grayShade text-4xl font-bold">5021</span>
            <span class="text-gray59 text-center text-2xl">Total Cases</span>
        </div>
        <div class="flex flex-col items-center justify-center">
            <span class="text-grayShade text-4xl font-bold">5021</span>
            <span class="text-gray59 text-center text-2xl">Total Clients</span>
        </div>
        <div class="flex flex-col items-center justify-center">
            <span class="text-grayShade text-4xl font-bold">5021</span>
            <span class="text-gray59 text-center text-2xl">Total Lawyers</span>
        </div>
        <div class="flex flex-col items-center justify-center">
            <span class="text-grayShade text-4xl font-bold">5021</span>
            <span class="text-gray59 text-center text-2xl"
                >Total Organizations</span
            >
        </div>
    </div>
</section>
