<section
    class="bg-lightGray flex justify-evenly flex-wrap items-center py-6 flex-col sm:flex-row gap-4 w-full overflow-x-clip">
    <div class="flex flex-col items-center justify-center">
        <span class="text-4xl text-grayShade">5021</span>
        <span class="text-2xl text-gray59 text-center">Total Cases</span>
    </div>
    <div class="flex flex-col items-center justify-center">
        <span class="text-4xl text-grayShade">5021</span>
        <span class="text-2xl text-gray59 text-center">Total Clients</span>
    </div>
    <div class="flex flex-col items-center justify-center">
        <span class="text-4xl text-grayShade">5021</span>
        <span class="text-2xl text-gray59 text-center">Total Lawyers</span>
    </div>
    <div class="flex flex-col items-center justify-center">
        <span class="text-4xl text-grayShade">5021</span>
        <span class="text-2xl text-gray59 text-center"
            >Total Organizations</span
        >
    </div>
</section>
