<jsat-navbar-internal></jsat-navbar-internal>

<div class="mx-auto w-full max-w-screen-xl">
    <h2 class="text-2xl mt-12 mb-4">Test Protocols</h2>

    <div
        class="col-span-3 rounded-lg border border-gray-200 bg-white p-6 shadow">
        <hlm-table class="w-full">
            <hlm-trow *ngFor="let row of [1, 2, 3, 4, 5]" class="">
                <hlm-td class="min-w-48">
                    <span class="flex items-center justify-start">
                        Requirement {{ row }}
                    </span>
                </hlm-td>
                <hlm-td class="py-1">
                    <div class="grid gap-4 grid-cols-3">
                        <jsat-searchable-select></jsat-searchable-select>
                        <jsat-searchable-select></jsat-searchable-select>
                        <jsat-searchable-select></jsat-searchable-select>
                    </div>
                </hlm-td>
            </hlm-trow>
        </hlm-table>
    </div>
</div>
