<section class="w-full mt-6 p-4" hlmCard>
    <h2 class="text-2xl mt-4 font-bold mb-6 text-center">Sign Up</h2>
    <form [formGroup]="registerFormService.form" (ngSubmit)="signup()">
        <div hlmCardContent>
            <div class="mb-4">
                <label for="firstName" class="block text-sm font-bold mb-2"
                    >First Name</label
                >
                <input
                    class="w-full md:w-96"
                    hlmInput
                    placeholder="Enter your firstname"
                    formControlName="firstName" />
                @if ( registerFormService.form.get('firstName')!.invalid &&
                registerFormService.form.get('firstName')!.touched &&
                registerFormService.form.get('firstName')!.dirty ) {
                <div
                    class="text-red-500 text-sm whitespace-pre-wrap w-full md:w-96 mt-4">
                    First name is required
                </div>
                }
                <!-- <app-validation-error [fieldControl]="registerFormService?.form?.controls" /> -->
            </div>
            <div class="mb-4">
                <label for="lastName" class="block text-sm font-bold mb-2"
                    >Last Name</label
                >
                <input
                    class="w-full md:w-96"
                    hlmInput
                    placeholder="Enter your lastname"
                    formControlName="lastName" />
                @if ( registerFormService.form.get('lastName')!.invalid &&
                registerFormService.form.get('lastName')!.touched ) {
                <div
                    class="text-red-500 text-sm whitespace-pre-wrap w-full md:w-96 mt-4">
                    Last name is required
                </div>
                }
            </div>
            <div class="mb-4">
                <label for="email" class="block text-sm font-bold mb-2"
                    >Email</label
                >
                <input
                    class="w-full md:w-96"
                    hlmInput
                    placeholder="Email"
                    type="email"
                    formControlName="email" />
                @if ( registerFormService.form.get('email')!.invalid &&
                registerFormService.form.get('email')!.touched ) {
                <div
                    class="text-red-500 text-sm whitespace-pre-wrap w-full md:w-96 mt-4">
                    Valid email is required
                </div>
                }
            </div>
            <div class="mb-4">
                <label for="password" class="block text-sm font-bold mb-2"
                    >Password</label
                >
                <input
                    class="w-full md:w-96"
                    placeholder="Password"
                    hlmInput
                    type="password"
                    formControlName="password" />
                @if ( registerFormService.form.get('password')!.touched &&
                registerFormService.form.get('password')!.dirty &&
                registerFormService.form.get('password')! .errors; as errors ) {
                <div
                    class="text-red-500 text-sm whitespace-pre-wrap w-full md:w-96 mt-4">
                    @if (errors['required']) { Password is required. } @if
                    (errors['minlength'] && !errors['required']) { Password must
                    be at least 8 characters long. } @if (errors['maxlength'] &&
                    !errors['required']) { Password cannot be more than 32
                    characters long. } @if ( errors['pattern'] &&
                    !errors['required'] && !errors['minlength'] &&
                    !errors['maxlength'] ) { Password must contain at least one
                    uppercase letter, one lowercase letter, and one number. }
                </div>
                }
            </div>

            <div class="mb-4">
                <label
                    for="passwordConfirmation"
                    class="block text-sm font-bold mb-2"
                    >Confirm Password</label
                >
                <input
                    class="w-full md:w-96"
                    placeholder="Confirm Password"
                    hlmInput
                    type="password"
                    formControlName="passwordConfirmation" />
                @if ( registerFormService.form.get('passwordConfirmation')!
                .invalid &&
                registerFormService.form.get('passwordConfirmation')! .touched
                && registerFormService.form.get('passwordConfirmation')! .dirty
                ) {
                <div class="text-red-500 text-sm">
                    Password confirmation is required
                </div>
                }
            </div>
            @if (registerFormService.form.hasError('passwordNotMatched')) {
            <div class="text-red-500 text-sm mb-4">Passwords do not match.</div>
            }
            <div class="flex items-center justify-between">
                <button
                    hlmBtn
                    [disabled]="registerFormService.form.invalid"
                    type="submit"
                    class="bg-success text-success-foreground hover:bg-green-400">
                    @if(isLoading){
                    <svg
                        aria-hidden="true"
                        class="inline mr-2 w-4 h-4 text-gray-200 animate-spin fill-primary-600"
                        viewBox="0 0 100 101"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                            fill="currentColor" />
                        <path
                            d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                            fill="currentFill" />
                    </svg>
                    } @else { Sign Up }
                </button>
                <a
                    [routerLink]="['/login']"
                    class="inline-block align-baseline text-sm text-blue-500 hover:text-blue-800">
                    Already have an account? Sign In
                </a>
            </div>
        </div>
    </form>
</section>
