<section class="w-full mt-6 p-4" hlmCard>
    <h2 class="text-2xl mt-4 font-bold mb-6 text-center">Sign Up</h2>
    <form [formGroup]="registerFormService.form" (ngSubmit)="signup()">
        <div hlmCardContent>
            <div class="mb-4">
                <label for="firstName" class="block text-sm font-bold mb-2"
                    >First Name</label
                >
                <input
                    class="w-full md:w-96"
                    hlmInput
                    placeholder="Enter your firstname"
                    formControlName="firstName" />
            </div>
            <div class="mb-4">
                <label for="lastName" class="block text-sm font-bold mb-2"
                    >Last Name</label
                >
                <input
                    class="w-full md:w-96"
                    hlmInput
                    placeholder="Enter your lastname"
                    formControlName="lastName" />
            </div>
            <div class="mb-4">
                <label for="email" class="block text-sm font-bold mb-2"
                    >Email</label
                >
                <input
                    class="w-full md:w-96"
                    hlmInput
                    placeholder="Email"
                    type="email"
                    formControlName="email" />
            </div>
            <div class="mb-4">
                <label for="password" class="block text-sm font-bold mb-2"
                    >Password</label
                >
                <input
                    class="w-full md:w-96"
                    placeholder="Password"
                    hlmInput
                    type="password"
                    formControlName="password" />
            </div>
            <div class="mb-4">
                <label
                    for="passwordConfirmation"
                    class="block text-sm font-bold mb-2"
                    >Confirm Password</label
                >
                <input
                    class="w-full md:w-96"
                    placeholder="Confirm Password"
                    hlmInput
                    type="password"
                    formControlName="passwordConfirmation" />
            </div>
            <div
                *ngIf="registerFormService.form.hasError('passwordNotMatched')"
                class="text-red-500 text-sm mb-4">
                Passwords do not match.
            </div>
            <div class="flex items-center justify-between">
                <button
                    hlmBtn
                    class="bg-success text-success-foreground hover:bg-green-400">
                    Sign Up
                </button>
                <a
                    [routerLink]="['/login']"
                    class="inline-block align-baseline text-sm text-blue-500 hover:text-blue-800">
                    Already have an account? Sign In
                </a>
            </div>
        </div>
    </form>
</section>
