@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif;
}

.custom-background {
    background: linear-gradient(180deg, #fffef3, #f4ffd6, #fffcd7);
}

ion-content {
    --background: transparent;
}

.back-icon {
    color: rgb(22 101 52);
    height: 2.5rem;
    width: 2.5rem;
}

.title-section {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem 0.5rem;

    .title {
        font-weight: 700;
        font-size: 2rem;
        line-height: 2rem;
        color: #292929;
    }
}

.delete-icon-btn,
.edit-icon-btn {
    background: #eaffea;
    border-radius: 50%;
    margin: 2px;
}

// page title and back btn style with ion-grid

.navigation-grid {
    padding: 0.5rem 0;
    margin: 0 10px 10px;
}
.page-title-col {
    margin-top: -1px;
}
.page-title-text {
    font-weight: 700;
    font-size: 2rem;
    margin: 0 5px;
    color: #292929;
    display: block;
}
