<div class="space-y-6">
    <div class="rounded-sm border p-4">
        <div class="flex items-start justify-between">
            <div class="flex items-center">
                <img
                    class="border-primary-500 h-20 w-20 rounded-full border"
                    src="https://via.placeholder.com/150"
                    alt="Profile Picture" />
                <div class="ml-2">
                    <h3 class="text-base font-semibold">Jhone Dove</h3>
                    <h6 class="text-[.875rem] font-normal text-gray-400">
                        Designer
                    </h6>
                    <p class="text-[.875rem] font-normal text-gray-400">
                        California, USA
                    </p>
                </div>
            </div>
            <button class="btn-outline">Edit</button>
        </div>
    </div>
    <div class="rounded-sm border p-4">
        <div class="flex justify-between">
            <h3 class="m-0 text-lg font-medium">Personal information</h3>
            <button class="btn-outline">Edit</button>
        </div>
        <div class="flex items-start justify-between">
            <div>
                <h3 class="text-base font-semibold">Jhone Dove</h3>
                <h6 class="text-[.875rem] font-normal text-gray-400">
                    Designer
                </h6>
                <p class="text-[.875rem] font-normal text-gray-400">
                    California, USA
                </p>
            </div>
        </div>
    </div>
</div>
