<div class="space-y-6">
    <div class="p-4 border rounded-sm">
        <div class="flex justify-between items-start">
            <div class="flex items-center">
                <img
                    class="w-20 h-20 border border-primary-500 rounded-full"
                    src="https://via.placeholder.com/150"
                    alt="Profile Picture" />
                <div class="ml-2">
                    <h3 class="text-base font-semibold">Jhone Dove</h3>
                    <h6 class="text-[.875rem] text-gray-400 font-normal">
                        Designer
                    </h6>
                    <p class="text-[.875rem] text-gray-400 font-normal">
                        California, USA
                    </p>
                </div>
            </div>
            <button class="btn-outline">Edit</button>
        </div>
    </div>
    <div class="p-4 border rounded-sm">
        <div class="flex justify-between">
            <h3 class="text-lg font-medium m-0">Personal information</h3>
            <button class="btn-outline">Edit</button>
        </div>
        <div class="flex justify-between items-start">
            <div>
                <h3 class="text-base font-semibold">Jhone Dove</h3>
                <h6 class="text-[.875rem] text-gray-400 font-normal">
                    Designer
                </h6>
                <p class="text-[.875rem] text-gray-400 font-normal">
                    California, USA
                </p>
            </div>
        </div>
    </div>
</div>
