<section>
    <h1 class="mb-5 text-4xl font-bold">Blogs</h1>
    <p-button size="large" class="font-bold" routerLink="/blogs/create"
        >Create New Blog</p-button
    >
    <div class="my-5 flex items-center justify-between">
        <div class="flex items-center justify-start gap-3">
            <div>
                <p-button
                    label="Filters"
                    icon="pi pi-filter"
                    iconPos="left"></p-button>
            </div>
            <div
                class="flex items-center justify-start gap-2 rounded-md bg-gray-200 p-1 px-3">
                <p-select
                    [options]="status"
                    [(ngModel)]="selected"
                    size="small"
                    styleClass="{'border-radius': '24px'}"
                    placeholder="Select a Status"
                    class="w-full md:w-56" />
                <p-select
                    [options]="status"
                    [(ngModel)]="selected"
                    size="small"
                    placeholder="Sorting"
                    class="w-full md:w-56" />
            </div>
        </div>
        <div class="flex items-center justify-end gap-3">
            <div class="flex items-center justify-start gap-2">
                <input type="text" pInputText size="small" />
                <p-button icon="pi pi-search" size="large" />
            </div>
        </div>
    </div>

    <div class="h-screen rounded-lg shadow-md">
        <div
            class="flex items-center justify-start gap-3 border-b border-green-800 p-2">
            <div class="w-[15%]">Preview</div>
            <div class="w-[20%]">Title</div>
            <div class="w-[20%]">Description</div>
            <div class="w-[18%]">Tags</div>
            <div class="w-[12%]">Written By</div>
            <div class="w-[15%]">Action</div>
        </div>
        <div class="space-y-1 p-2">
            @for (post of posts(); track post.title) {
                <app-single-blog [post]="post"></app-single-blog>
            }
        </div>
    </div>
</section>
