<div class="flex gap-0">
    <div
        [ngClass]="{
            'min-w-20': isSidebarCollapsed,
            'min-w-64': !isSidebarCollapsed,
        }"
        class="sticky top-0 bottom-0 left-0 z-50 bg-white h-screen shadow-md">
        <app-sidebar-default
            [isCollapsed]="isSidebarCollapsed"></app-sidebar-default>
    </div>

    <section class="flex-1">
        <app-header-default
            (sidebarToggle)="toggleSidebar()"
            class="sticky top-0 z-50"></app-header-default>

        <main class="p-4">
            <ng-content></ng-content>
        </main>
    </section>
</div>
