<h1 class="mt-4 text-2xl font-bold">Application Area Management</h1>
<h1 class="mt-4 text-xl">Area Management List</h1>
<div class="mt-4 flex items-center justify-between">
    <div class="card justify-content-center flex">
        <p-dropdown
            [options]="dropDownOptions"
            [(ngModel)]="user.type"
            optionLabel="name"
            placeholder="Select a Role" />
    </div>
    <!-- Create new area management dialog -->
    <div class="card justify-content-center flex">
        <p-button
            (onClick)="showDialog()"
            label="Create new area management"
            class="!hover:bg-green-600 !bg-green-500 font-bold text-white" />
        <p-dialog
            header="Edit Profile"
            [(visible)]="visible"
            [style]="{ width: '25rem' }">
            <form
                [formGroup]="createAreaForm"
                (ngSubmit)="onSubmit()"
                class="mt-4 grid gap-4">
                <input
                    aria-label="Area Name"
                    type="text"
                    formControlName="areaName"
                    class="h-10 w-full px-2"
                    placeholder="Area Name" />
                @if (
                    createAreaForm.get('areaName')?.invalid &&
                    createAreaForm.get('areaName')?.touched
                ) {
                    <small class="text-red-500">Role name is required</small>
                }

                <textarea
                    class="mt-2 min-h-[80px] w-full p-2"
                    formControlName="description"
                    placeholder="Description"></textarea>
                <div class="flex justify-end">
                    <button hlmBtn class="mt-2 w-1/2 md:w-1/5" type="submit">
                        Save
                    </button>
                </div>
            </form>
        </p-dialog>
    </div>
</div>

<table class="mt-4 min-w-full border border-gray-300 bg-white">
    <thead>
        <tr class="bg-gray-100 text-left">
            <th class="px-4 py-2 text-sm font-bold md:text-base">Area Name</th>
            <th class="px-4 py-2 text-sm font-bold md:text-base">Can Delete</th>
            <th class="px-4 py-2 text-sm font-bold md:text-base">Can Read</th>
            <th class="px-4 py-2 text-sm font-bold md:text-base">Can Write</th>
            <th class="px-4 py-2 text-sm font-bold md:text-base">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr
            *ngFor="let key of permissionKeys"
            class="border-b hover:bg-gray-50">
            <td class="px-4 py-2 text-sm md:text-base">{{ key }}</td>
            <td
                class="px-4 py-2 text-sm md:text-base"
                [ngClass]="{
                    'text-green-500': userPermissions[key].includes(
                        Permission.Delete
                    ),
                    'text-red-500': !userPermissions[key].includes(
                        Permission.Delete
                    ),
                }"></td>
            <td
                class="px-4 py-2 text-sm md:text-base"
                [ngClass]="{
                    'text-green-500': userPermissions[key].includes(
                        Permission.Read
                    ),
                    'text-red-500': !userPermissions[key].includes(
                        Permission.Read
                    ),
                }"></td>
            <td
                class="px-4 py-2 text-sm md:text-base"
                [ngClass]="{
                    'text-green-500': userPermissions[key].includes(
                        Permission.Write
                    ),
                    'text-red-500': !userPermissions[key].includes(
                        Permission.Write
                    ),
                }"></td>
            <td class="flex space-x-4 px-4 py-2 text-sm md:text-base">
                <button id="edit-profile" brnDialogTrigger>
                    <i class="pi pi-pencil text-sm"></i>
                </button>
                <button id="edit-profile" brnDialogTrigger>
                    <i class="pi pi-trash text-sm"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>
