:host {
    display: block;
}

.bgrp-container {
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    background-color: rgb(255 255 255);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
        0 4px 6px -4px rgb(0 0 0 / 0.1);
    gap: 1rem;
    padding: 0.5rem;
}

.bgrp-button {
    min-width: 3rem;
}
