<div>
    <div class="mb-3 flex justify-between">
        <h1 class="text-2xl font-bold">Group Management</h1>
        <div class="card justify-content-center flex">
            <p-button (onClick)="openCreateGroupModal()" label=" Add Group" />
            <p-dialog
                [(visible)]="showCreateModal"
                [style]="{ width: '25rem' }">
                <h3 class="mb-4 text-3xl font-bold">Create Group</h3>
                <form
                    [formGroup]="createGroupForm"
                    (ngSubmit)="onSubmitGroupCreateForm()">
                    <div class="mb-4">
                        <label class="block text-gray-700">Group Name</label>
                        <input
                            class="mt-1 w-full rounded-lg border px-4 py-2 focus:ring focus:ring-blue-300"
                            type="text"
                            formControlName="name" />
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700">Group Type</label>
                        <select
                            class="mt-1 w-full rounded-lg border px-4 py-2 focus:ring focus:ring-blue-300"
                            formControlName="type">
                            <option value="">Select type</option>
                            @for (type of groupTypes; track type) {
                                <option [value]="type">
                                    {{ type | titlecase }}
                                </option>
                            }
                        </select>
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700">Email</label>
                        <input
                            class="mt-1 w-full rounded-lg border px-4 py-2 focus:ring focus:ring-blue-300"
                            type="email"
                            formControlName="email" />
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700">Address</label>
                        <input
                            class="mt-1 w-full rounded-lg border px-4 py-2 focus:ring focus:ring-blue-300"
                            type="text"
                            formControlName="address" />
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700">Phone</label>
                        <input
                            class="mt-1 w-full rounded-lg border px-4 py-2 focus:ring focus:ring-blue-300"
                            type="text"
                            formControlName="phone" />
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700">Post Code</label>
                        <input
                            class="mt-1 w-full rounded-lg border px-4 py-2 focus:ring focus:ring-blue-300"
                            type="text"
                            formControlName="postCode" />
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700">City</label>
                        <input
                            class="mt-1 w-full rounded-lg border px-4 py-2 focus:ring focus:ring-blue-300"
                            type="text"
                            formControlName="city" />
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700">Country</label>
                        <input
                            class="mt-1 w-full rounded-lg border px-4 py-2 focus:ring focus:ring-blue-300"
                            type="text"
                            formControlName="country" />
                    </div>
                    <div class="flex justify-end space-x-2">
                        <button type="submit" (click)="confirmDeleteUser()">
                            Save
                        </button>
                    </div>
                </form>
            </p-dialog>
        </div>
    </div>

    <div class="overflow-x-auto">
        <table class="min-w-full border border-gray-300 bg-white">
            <thead>
                <tr class="bg-gray-100 text-left">
                    <th class="px-4 py-2 text-sm md:text-base">Group Name</th>
                    <th class="px-4 py-2 text-sm md:text-base">Group Type</th>
                    <th class="px-4 py-2 text-sm md:text-base">Group Status</th>
                    <th class="px-4 py-2 text-sm md:text-base">Actions</th>
                </tr>
            </thead>
            <tbody>
                @if (loading) {
                    <ng-container *ngFor="let _ of [].constructor(5)">
                        <tr class="border-b">
                            <td class="px-4 py-2 text-sm md:text-base">
                                <div
                                    class="h-4 w-3/4 animate-pulse rounded bg-gray-300"></div>
                            </td>
                            <td class="px-4 py-2 text-sm md:text-base">
                                <div
                                    class="h-4 w-3/4 animate-pulse rounded bg-gray-300"></div>
                            </td>
                            <td class="px-4 py-2 text-sm md:text-base">
                                <div
                                    class="h-4 w-1/2 animate-pulse rounded bg-gray-300"></div>
                            </td>
                            <td class="px-4 py-2 text-sm md:text-base">
                                <div
                                    class="h-4 w-1/2 animate-pulse rounded bg-gray-300"></div>
                            </td>
                        </tr>
                    </ng-container>
                } @else {
                    <tr
                        *ngFor="let group of groups()"
                        class="border-b hover:bg-gray-50">
                        <td class="px-4 py-2 text-sm md:text-base">
                            {{ group.name | titlecase }}
                        </td>
                        <td class="px-4 py-2 text-sm md:text-base">
                            {{ group.type | titlecase }}
                        </td>
                        <td class="px-4 py-2 text-sm md:text-base">
                            <span
                                class="rounded-lg px-2 py-1 text-xs font-semibold tracking-wider"
                                [ngClass]="{
                                    'bg-yellow-400': group.status === 'pending',
                                    'bg-gray-200': group.status === 'inactive',
                                    'bg-green-400': group.status === 'active',
                                }">
                                {{ group.status | uppercase }}</span
                            >
                        </td>
                        <td
                            class="flex space-x-2 px-4 py-2 text-sm md:text-base">
                            <div class="card justify-content-center flex">
                                <p-button (onClick)="openEditModal(group)"
                                    ><i class="pi pi-pen-to-square"></i
                                ></p-button>
                                <p-dialog
                                    [(visible)]="showEditModal"
                                    [style]="{ width: '25rem' }">
                                    <h3 class="mb-4 text-3xl font-bold">
                                        Edit Group
                                    </h3>
                                    <form
                                        (submit)="onSubmitEditForm()"
                                        *ngIf="selectedGroup">
                                        <div class="mb-4">
                                            <label class="block text-gray-700"
                                                >Group Name</label
                                            >
                                            <input
                                                [(ngModel)]="selectedGroup.name"
                                                name="groupName"
                                                class="mt-1 w-full rounded-lg border px-4 py-2 focus:ring focus:ring-blue-300"
                                                type="text" />
                                        </div>
                                        <div class="mb-4">
                                            <label class="block text-gray-700"
                                                >Group Type</label
                                            >
                                            <select
                                                [(ngModel)]="selectedGroup.type"
                                                name="type"
                                                class="mt-1 w-full rounded-lg border px-4 py-2 focus:ring focus:ring-blue-300">
                                                @for (
                                                    type of groupTypes;
                                                    track type
                                                ) {
                                                    <option
                                                        [selected]="
                                                            selectedGroup.type ===
                                                            type
                                                        "
                                                        [value]="type">
                                                        {{ type | titlecase }}
                                                    </option>
                                                }
                                            </select>
                                        </div>
                                        <div class="mb-4">
                                            <label class="block text-gray-700"
                                                >Group Status</label
                                            >
                                            <select
                                                name="status"
                                                [(ngModel)]="
                                                    selectedGroup.status
                                                "
                                                class="mt-1 w-full rounded-lg border px-4 py-2 focus:ring focus:ring-blue-300">
                                                @for (
                                                    status of groupStatus;
                                                    track status
                                                ) {
                                                    <option
                                                        [selected]="
                                                            selectedGroup.status ===
                                                            status
                                                        "
                                                        [value]="status">
                                                        {{ status | titlecase }}
                                                    </option>
                                                }
                                            </select>
                                        </div>
                                        <div class="flex justify-end space-x-2">
                                            <button type="submit">Save</button>
                                        </div>
                                    </form>
                                </p-dialog>
                            </div>

                            <div class="card justify-content-center flex">
                                <p-button (onClick)="openDeleteModal(group)">
                                    <i class="pi pi-trash text-sm"></i>
                                </p-button>
                                <p-dialog
                                    [(visible)]="showDeleteModal"
                                    [style]="{ width: '25rem' }">
                                    <h3 class="text-3xl font-bold">
                                        Delete Group?
                                    </h3>
                                    <p class="text-lg text-gray-700">
                                        Are you sure you want to delete
                                        <strong class="text-lg">{{
                                            selectedGroup?.name
                                        }}</strong
                                        >?
                                    </p>
                                    <p class="mb-6 text-gray-700">
                                        *This action cannot be undone.
                                    </p>

                                    <button (click)="confirmDeleteUser()">
                                        Delete
                                    </button>
                                </p-dialog>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="mt-4 flex justify-center">
            <nav>
                <ul class="flex space-x-1">
                    <!-- Previous Button -->
                    <li>
                        <button
                            (click)="goToPage(currentPage - 1)"
                            [disabled]="currentPage === 1"
                            class="rounded-lg border border-gray-300 bg-gray-200 px-3 py-1 text-sm font-medium text-gray-700 hover:bg-gray-300 disabled:opacity-50">
                            &lt;
                        </button>
                    </li>
                    <!-- Page Number Buttons -->
                    <ng-container
                        *ngFor="
                            let page of [].constructor(totalPages);
                            let i = index
                        ">
                        <li>
                            <button
                                (click)="goToPage(i + 1)"
                                [class]="{
                                    'bg-blue-500 text-white':
                                        currentPage === i + 1,
                                    'bg-gray-200 text-gray-700':
                                        currentPage !== i + 1,
                                }"
                                class="rounded-lg border border-gray-300 px-3 py-1 text-sm font-medium hover:bg-gray-300">
                                {{ i + 1 }}
                            </button>
                        </li>
                    </ng-container>
                    <!-- Next Button -->
                    <li>
                        <button
                            (click)="goToPage(currentPage + 1)"
                            [disabled]="currentPage === totalPages"
                            class="rounded-lg border border-gray-300 bg-gray-200 px-3 py-1 text-sm font-medium text-gray-700 hover:bg-gray-300 disabled:opacity-50">
                            &gt;
                        </button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
