<section>
    <h2 class="text-4xl font-bold leading-10">Organizations</h2>
    <div class="my-5 mb-3 flex items-center justify-between">
        <app-organization-filter
            [status]="status"
            [type]="type"></app-organization-filter>
        <div class="flex items-center justify-end gap-3">
            <div class="flex items-center justify-start gap-2">
                <input
                    type="text"
                    pInputText
                    size="small"
                    (input)="onSearch($event)" />
                <p-button
                    styleClass="bg-green"
                    size="large"
                    icon="pi pi-search" />
            </div>
            <p-button
                size="small"
                styleClass="bg-green py-2"
                (onClick)="openCreateOrganizationModal()">
                <i class="pi pi-plus"></i> Create</p-button
            >
        </div>
    </div>

    <div>
        <div class="rounded-md">
            @if (organizationStateService.select('loading') | async) {
                <div class="text-center">
                    <p-progressSpinner ariaLabel="loading"></p-progressSpinner>
                </div>
            } @else {
                @let organizations =
                    organizationStateService.select('organizations') | async;
                @if (organizations !== null && organizations.length > 0) {
                    <app-organization-table
                        [organizations]="organizations!"
                        [(visible)]="visible"
                        [(editMode)]="editMode"></app-organization-table>
                } @else {
                    <div class="mt-6 text-center">No organizations found!</div>
                }
            }
        </div>
    </div>

    <div>
        <p-dialog
            header="{{
                editMode() ? 'Edit Organization' : 'Create Organization'
            }}"
            [modal]="true"
            [(visible)]="visible"
            [style]="{
                width: '70%',
            }">
            <form [formGroup]="this.organizationFormService.form">
                <div class="flex items-center justify-start gap-5">
                    <div
                        class="mb-4 flex w-full flex-col items-start justify-start">
                        <label class="mb-2 font-semibold">Name</label>
                        <input
                            pInputText
                            class="w-full flex-auto"
                            autocomplete="off"
                            formControlName="name" />
                    </div>
                    <div
                        class="mb-4 flex w-full flex-col items-start justify-start">
                        <label class="mb-2 font-semibold">Email</label>
                        <input
                            pInputText
                            class="w-full flex-auto"
                            autocomplete="off"
                            formControlName="email" />
                    </div>
                </div>
                <div class="flex items-center justify-start gap-5">
                    <div class="flex w-full items-center justify-start gap-5">
                        <div
                            class="mb-4 flex w-1/2 flex-col items-start justify-start">
                            <label class="mb-2 font-semibold">Type</label>
                            <input
                                pInputText
                                class="w-full flex-auto"
                                autocomplete="off"
                                formControlName="type" />
                        </div>

                        <div
                            class="mb-4 flex w-1/2 flex-col items-start justify-start">
                            <label class="mb-2 font-semibold">Status</label>
                            <input
                                pInputText
                                class="w-full flex-auto"
                                autocomplete="off"
                                formControlName="status" />
                        </div>
                    </div>

                    <div
                        class="mb-4 flex w-full flex-col items-start justify-start">
                        <label class="mb-2 font-semibold">Phone</label>
                        <input
                            pInputText
                            class="w-full flex-auto"
                            autocomplete="off"
                            formControlName="phone" />
                    </div>
                </div>

                <div class="flex items-center justify-start gap-5">
                    <div
                        class="mb-4 flex w-full flex-col items-start justify-start">
                        <label class="mb-2 font-semibold">Address</label>
                        <input
                            pInputText
                            class="w-full flex-auto"
                            autocomplete="off"
                            formControlName="address" />
                    </div>
                    <div
                        class="mb-4 flex w-full flex-col items-start justify-start">
                        <label class="mb-2 font-semibold">City</label>
                        <input
                            pInputText
                            class="w-full flex-auto"
                            autocomplete="off"
                            formControlName="city" />
                    </div>
                </div>

                <div class="flex items-center justify-start gap-5">
                    <div
                        class="mb-4 flex w-full flex-col items-start justify-start">
                        <label class="mb-2 font-semibold">State</label>
                        <input
                            pInputText
                            class="w-full flex-auto"
                            autocomplete="off"
                            formControlName="state" />
                    </div>
                    <div
                        class="mb-4 flex w-full flex-col items-start justify-start">
                        <label class="mb-2 font-semibold">City</label>
                        <input
                            pInputText
                            class="w-full flex-auto"
                            autocomplete="off"
                            formControlName="city" />
                    </div>
                </div>

                <div class="flex items-center justify-start gap-5">
                    <div
                        class="mb-4 flex w-full flex-col items-start justify-start">
                        <label class="mb-2 font-semibold">Country</label>
                        <input
                            pInputText
                            class="w-full flex-auto"
                            autocomplete="off"
                            formControlName="country" />
                    </div>
                    <div
                        class="mb-4 flex w-full flex-col items-start justify-start">
                        <label class="mb-2 font-semibold">PostCode</label>
                        <input
                            pInputText
                            class="w-full flex-auto"
                            autocomplete="off"
                            formControlName="postCode" />
                    </div>
                </div>
                <div class="flex items-center justify-start gap-5"></div>

                <div class="my-5 flex items-center justify-start gap-5">
                    <p-fileupload
                        mode="basic"
                        name="demo[]"
                        chooseIcon="pi pi-upload"
                        url="https://www.primefaces.org/cdn/api/upload.php"
                        accept="image/*"
                        maxFileSize="1000000"
                        [auto]="true"
                        chooseLabel="Upload organization profile image" />
                    <p-fileupload
                        mode="basic"
                        name="demo[]"
                        chooseIcon="pi pi-upload"
                        url="https://www.primefaces.org/cdn/api/upload.php"
                        accept="image/*"
                        maxFileSize="1000000"
                        [auto]="true"
                        chooseLabel="Upload organization cover image" />
                </div>
                <div class="flex justify-end gap-2">
                    <p-button
                        label="Cancel"
                        severity="secondary"
                        (click)="cancel()" />
                    <p-button
                        label="{{ editMode() ? 'Update' : 'Save' }}"
                        (click)="onSave()" />
                </div>
            </form>
        </p-dialog>
    </div>
</section>
