<section>
    <h1 class="text-2xl font-bold">Organizations</h1>
    <div class="my-5 flex items-center justify-between">
        <div class="flex items-center justify-start gap-3">
            <div>
                <p-button
                    label="Filters"
                    icon="pi pi-filter"
                    iconPos="left"></p-button>
            </div>
            <div
                class="flex items-center justify-start gap-2 rounded-md bg-gray-200 p-1 px-3">
                <p-select
                    [options]="status"
                    [(ngModel)]="selected"
                    optionLabel="name"
                    size="small"
                    styleClass="rounded-full"
                    placeholder="Select a Status"
                    class="w-full md:w-56" />
                <p-select
                    [options]="status"
                    [(ngModel)]="selected"
                    optionLabel="name"
                    size="small"
                    placeholder="Sorting"
                    class="w-full md:w-56" />
            </div>
        </div>
        <div class="flex items-center justify-end gap-3">
            <div class="flex items-center justify-start gap-2">
                <input type="text" pInputText size="small" />
                <p-button icon="pi pi-search" />
            </div>
            <p-button
                class=""
                size="small"
                (onClick)="openCreateOrganizationModal()">
                <i class="pi pi-plus"></i> Create</p-button
            >
        </div>
    </div>
    <div>
        <div class="rounded-md bg-gray-100 p-2">
            <app-organization-table
                [organizations]="organizations"
                [(visible)]="visible"
                [(editMode)]="editMode"></app-organization-table>
        </div>
    </div>

    <div>
        <p-dialog
            header="{{
                editMode() ? 'Edit Organization' : 'Create Organization'
            }}"
            [modal]="true"
            [(visible)]="visible"
            [style]="{
                width: '50%',
            }">
            <div class="mb-4 flex flex-col items-start justify-start">
                <label class="mb-2 font-semibold">Name</label>
                <input pInputText class="w-full flex-auto" autocomplete="off" />
            </div>
            <div class="mb-4 flex flex-col items-start justify-start">
                <label class="mb-2 font-semibold">Email</label>
                <input pInputText class="w-full flex-auto" autocomplete="off" />
            </div>

            <div class="flex items-center justify-start gap-5">
                <div class="mb-4 flex w-1/2 flex-col items-start justify-start">
                    <label class="mb-2 font-semibold">Working Hour start</label>
                    <input
                        pInputText
                        class="w-full flex-auto"
                        autocomplete="off" />
                </div>

                <div class="mb-4 flex w-1/2 flex-col items-start justify-start">
                    <label class="mb-2 font-semibold">Working Hour End</label>
                    <input
                        pInputText
                        class="w-full flex-auto"
                        autocomplete="off" />
                </div>
            </div>

            <div class="mb-4 flex flex-col items-start justify-start">
                <label class="mb-2 font-semibold">Add Member</label>
                <input pInputText class="w-full flex-auto" autocomplete="off" />
            </div>

            <div class="my-5 flex items-center justify-start gap-5">
                <p-fileupload
                    mode="basic"
                    name="demo[]"
                    chooseIcon="pi pi-upload"
                    url="https://www.primefaces.org/cdn/api/upload.php"
                    accept="image/*"
                    maxFileSize="1000000"
                    [auto]="true"
                    chooseLabel="Upload organization profile image" />
                <p-fileupload
                    mode="basic"
                    name="demo[]"
                    chooseIcon="pi pi-upload"
                    url="https://www.primefaces.org/cdn/api/upload.php"
                    accept="image/*"
                    maxFileSize="1000000"
                    [auto]="true"
                    chooseLabel="Upload organization cover image" />
            </div>
            <div class="flex justify-end gap-2">
                <p-button
                    label="Cancel"
                    severity="secondary"
                    (click)="cancel()" />
                <p-button
                    label="{{ editMode() ? 'Update' : 'Save' }}"
                    (click)="onSave()" />
            </div>
        </p-dialog>
    </div>
</section>
