<section>
    <h1 class="text-4xl font-bold">Cases</h1>
    <div class="my-5 flex items-center justify-between">
        <app-case-filter></app-case-filter>
        <div class="flex items-center justify-end gap-3">
            <div class="flex items-center justify-start gap-2">
                <input
                    type="text"
                    pInputText
                    size="small"
                    (input)="onSearch($event)" />

                <p-button
                    icon="pi pi-search"
                    size="large"
                    styleClass="bg-green" />
            </div>
            <p-button
                styleClass="bg-green py-2"
                size="small"
                (onClick)="openCreateCaseModal()">
                <i class="pi pi-plus"></i> Create Case</p-button
            >
        </div>
    </div>
    <div>
        @let cases = casesStateService.select('cases') | async;
        @let isLoading = casesStateService.select('loading') | async;

        @if (isLoading) {
            <div class="text-center">
                <p-progress-spinner ariaLabel="loading" />
            </div>
        } @else {
            @if (cases !== null && cases.length > 0) {
                <app-cases-table
                    [cases]="cases"
                    [(visible)]="visible"
                    [(editMode)]="editMode"></app-cases-table>
            } @else {
                <div class="mt-6 text-center">No cases found!</div>
            }
        }
    </div>

    <div>
        <p-dialog
            header="{{ editMode() ? 'Edit Case' : 'Create Case' }}"
            [modal]="true"
            [(visible)]="visible"
            [style]="{
                width: '50%',
            }">
            <form [formGroup]="this.caseFormService.form">
                <div class="mb-4 flex flex-col items-start justify-start">
                    <label class="mb-2 font-semibold">Case Number</label>
                    <input
                        pInputText
                        class="w-full flex-auto"
                        autocomplete="off"
                        formControlName="number" />
                </div>
                <div class="mb-4 flex flex-col items-start justify-start">
                    <label class="mb-2 font-semibold">Case Title</label>
                    <input
                        pInputText
                        class="w-full flex-auto"
                        autocomplete="off"
                        formControlName="name" />
                </div>
                <div class="flex items-center justify-between gap-5">
                    <div
                        class="mb-4 flex w-full flex-col items-start justify-start">
                        <label class="mb-2 font-semibold">Defendant</label>
                        <input
                            pInputText
                            class="w-full flex-auto"
                            autocomplete="off"
                            formControlName="defendant" />
                    </div>

                    <div
                        class="mb-4 flex w-full flex-col items-start justify-start">
                        <label class="mb-2 font-semibold">Plaintiff</label>
                        <input
                            pInputText
                            class="w-full flex-auto"
                            autocomplete="off"
                            formControlName="plaintiffName" />
                    </div>
                </div>

                <div class="flex items-center justify-start gap-5">
                    <div
                        class="mb-4 flex w-1/2 flex-col items-start justify-start">
                        <label class="mb-2 font-semibold">Court</label>
                        <input
                            pInputText
                            class="w-full flex-auto"
                            autocomplete="off"
                            formControlName="court" />
                    </div>
                </div>
                <div class="flex justify-end gap-2">
                    <p-button
                        label="Cancel"
                        styleClass="bg-greenSecondary"
                        severity="secondary"
                        (click)="cancel()" />
                    <p-button
                        label="{{ editMode() ? 'Update' : 'Save' }}"
                        styleClass="bg-green3"
                        [disabled]="this.caseFormService.form.invalid"
                        (click)="onSave()" />
                </div>
            </form>
        </p-dialog>
    </div>
</section>
