<section class="section-padding">
    <div class="container">
        <div class="py-16 text-center">
            <h3 class="text-5xl font-bold">
                Your Perfect
                <span class="text-primary-500 text-5xl font-bold"
                    >Plan Awaits</span
                >
            </h3>
            <p class="mx-auto mt-6 max-w-xl text-lg">
                Unlock the full potential of advanced legal solutions. Upgrade
                or downgrade anytime.
            </p>
        </div>
        <div class="mt-16 grid grid-cols-12 xl:gap-8">
            @for (item of pricePlan; track item.id) {
                <div class="sm:colspan-6 col-span-12 lg:col-span-4">
                    <div
                        class="rounded-md border p-10"
                        [ngClass]="
                            item.isPopular ? 'bg-primary-40 -mt-8' : 'bg-white'
                        ">
                        <div class="text-center font-semibold">
                            <h4 class="text-2xl">{{ item.title }}</h4>
                            <h6 class="pb-2 pt-2">
                                <span class="text-3xl font-bold"
                                    >${{ item.price }}</span
                                >
                                <span>/Month</span>
                            </h6>
                            <p class="px-2 text-[1rem]">
                                {{ item.description }}
                            </p>
                        </div>

                        <hr class="my-4" />

                        @for (feature of item.features; track feature) {
                            <ul class="">
                                <li class="flex items-center py-1.5 text-base">
                                    <i
                                        class="pi pi-check text-primary-500 mr-2"></i>
                                    {{ feature }}
                                </li>
                            </ul>
                        }

                        <div class="mt-6 flex w-full justify-center">
                            <button class="btn-fill !px-10">Get Start</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
