<div class="p-6">
    <div class="grid grid-cols-12 gap-4">
        <div class="col-span-2">
            <div class="px-1">
                @for (item of userRoute; track item.id) {
                    <ul class="space-y-1">
                        <li class="mb-1 text-gray-500">
                            <a
                                class="hover:bg-primary-40 hover:text-primary-500 inline-block w-full rounded-sm px-3 py-1.5 transition-all duration-300"
                                routerLinkActive="bg-primary-40 text-primary-500"
                                [routerLink]="item.path"
                                >{{ item.title }}</a
                            >
                        </li>
                    </ul>
                }
            </div>
        </div>
        <div class="col-span-10">
            <div class="min-h-[500px]">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
