<section class="flex gap-4 flex-wrap">
    <button hlmBtn [routerLink]="['/']" variant="ghost" class="min-w-32">
        Data Dump
    </button>
    <button hlmBtn [routerLink]="['/']" variant="default" class="min-w-32">
        Requirements
    </button>
    <button
        hlmBtn
        [routerLink]="['/test-protocol']"
        variant="ghost"
        class="min-w-32">
        Test Protocol
    </button>
    <button
        hlmBtn
        [routerLink]="['/approvals']"
        variant="ghost"
        class="min-w-32">
        Approvals
    </button>
</section>
