<nav
    class="bg-white text-gray-700 w-full shadow-sm relative flex items-center justify-between py-4 px-6">
    <div class="">
        <i class="pi pi-bars text-3xl"></i>
    </div>

    <button id="profileButton">
        <img
            src="avatar/avater.img"
            alt="User image"
            (error)="showFallback($event)"
            class="w-10 h-10 object-cover rounded-full" />
        @if (!uiState.imageLoaded) {
            <div
                class="w-10 h-10 inline-block bg-destructive text-white font-semibold text-xl rounded-full">
                <span class="leading-10">RG</span>
            </div>
        }
    </button>

    @if (uiState.showProfileDropDown) {
        <div
            class="flex flex-col gap-3 absolute bg-white shadow-md w-56 top-20 right-4 px-3.5 py-4 rounded-md"
            id="profileDropDown">
            <button class="flex justify-start">
                <span>John Doe</span>
            </button>
            <hr class="opacity-70" />
            <button
                class="flex justify-start items-center gap-2"
                routerLink="/profile">
                <span class="pi pi-user !text-black !font-medium"></span>
                <span>Profile</span>
            </button>
            <button class="flex justify-start items-center gap-2">
                <span class="pi pi-cog !text-black !font-medium"></span>
                <span>Settings</span>
            </button>
            <button class="flex justify-start items-center gap-2">
                <span class="pi pi-users !text-black !font-medium"></span>
                <span>Team</span>
            </button>
            <hr class="opacity-50" />
            <button class="flex justify-start items-center gap-2">
                <span class="pi pi-sign-out !text-black !font-medium"></span>
                <span>Log Out</span>
            </button>
        </div>
    }
</nav>
