<p-table
    [value]="organizations()"
    [paginator]="true"
    [rows]="10"
    [tableStyle]="{ 'min-width': '50rem' }"
    [rowsPerPageOptions]="[5, 10, 20]">
    <ng-template #header>
        <tr>
            <th style="width: 20%">Name</th>
            <th style="width: 18%">Email</th>
            <th style="width: 17%">Address</th>
            <th style="width: 15%">Working Hour</th>
            <th style="width: 15%">Total Members</th>
            <th style="width: 15%">Actions</th>
        </tr>
    </ng-template>
    <ng-template #body let-organization>
        <tr>
            <td>{{ organization.name }}</td>
            <td>{{ organization.email }}</td>
            <td>{{ organization.address }}</td>
            <td>{{ organization.workHour }}</td>
            <td>{{ organization.totalMembers }}</td>
            <td class="flex items-center justify-start gap-3">
                <p-button
                    icon="pi pi-pen-to-square"
                    [outlined]="true"
                    [raised]="true"
                    (click)="onEdit()" />
                <p-button
                    severity="danger"
                    icon="pi pi-trash"
                    [outlined]="true"
                    [raised]="true" />
            </td>
        </tr>
    </ng-template>
</p-table>
