<div class="card">
    <p-table
        [value]="organizations()"
        [tableStyle]="{ 'min-width': '50rem' }"
        paginator="true"
        [rowsPerPageOptions]="[1, 3, 5, 10, 20]"
        [rows]="3">
        <ng-template #header>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Status</th>
                <th>Type</th>
                <th>Phone</th>
                <th>Actions</th>
            </tr>
        </ng-template>
        <ng-template #body let-organization>
            <tr>
                <td>{{ organization.name }}</td>
                <td>{{ organization.email }}</td>
                <td>{{ organization.address }}</td>
                <td>
                    <span
                        [ngClass]="
                            organization.status === 'active'
                                ? 'bg-green text-white'
                                : organization.status === 'inactive'
                                  ? 'bg-gray-400'
                                  : 'bg-yellow-400 text-black'
                        "
                        class="rounded-full px-4 py-1"
                        >{{ organization.status }}</span
                    >
                </td>
                <td>{{ organization.type }}</td>
                <td>{{ organization.phone }}</td>
                <td class="flex gap-2">
                    <p-button
                        severity="info"
                        icon="pi pi-eye"
                        size="small"
                        [raised]="true"
                        [routerLink]="[
                            '/dashboard/organization',
                            organization.id,
                        ]"></p-button>
                    <p-button
                        styleClass="bg-green"
                        size="small"
                        severity="success"
                        icon="pi pi-pen-to-square"
                        [raised]="true"
                        (click)="onEdit(organization)"></p-button>
                    <p-button
                        severity="warn"
                        size="small"
                        [raised]="true"
                        icon="pi pi-trash"
                        (click)="delete(organization.id)"></p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
