<div class="overflow-hidden">
    <h1 class="font-semibold text-4xl">Cases</h1>
    <!-- filter row -->
    <div class="flex mt-4 justify-between items-center">
        <div class="flex justify-center items-center gap-4">
            <button
                (click)="toggleFilter()"
                class="font-normal text-2xl text-[#3a3a3a] shadow-md shadow-black/20 bg-[#eaffea] rounded-xl lg:py-2.5 lg:px-5 p-2.5 flex gap-1.5 justify-center items-center">
                <svg
                    class="w-6 h-6 lg:w-5 lg:h-5"
                    viewBox="0 0 20 19"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M0.990591 2C0.770591 2 0.560591 2.08 0.39059 2.21C-0.0494095 2.55 -0.129409 3.18 0.210591 3.61V3.62L4.52059 9.14V15.05L8.16059 18.71C8.52059 19.1 9.18059 19.1 9.57059 18.71C9.96059 18.32 9.96059 17.69 9.58059 17.3L6.52059 14.22V8.45L1.79059 2.39C1.60059 2.14 1.30059 2 0.990591 2ZM19.1406 0.22C18.9506 0.08 18.7406 0 18.5206 0H4.52059C4.30059 0 4.09059 0.08 3.90059 0.22C3.47059 0.56 3.39059 1.19 3.73059 1.62L8.52059 7.75V12.87C8.48059 13.16 8.58059 13.47 8.81059 13.7L12.8206 17.71C13.2106 18.1 13.8406 18.1 14.2306 17.71C14.4606 17.5 14.5606 17.18 14.5206 16.88V7.75L19.3106 1.62C19.6506 1.19 19.5706 0.56 19.1406 0.22ZM12.5206 7.05V14.58L10.5206 12.58V7.06L6.56059 2H16.4806L12.5206 7.05Z"
                        fill="#3A3A3A" />
                </svg>
                <span
                    class="font-normal text-2xl text-[#3a3a3a] hidden lg:inline"
                    >Filters</span
                >
            </button>

            <div
                class="lg:px-8 lg:py-5 px-5 py-3 flex justify-center gap-3 items-center shadow-md shadow-black/20 rounded-xl bg-white">
                <button
                    class="text-lg border border-[#bcbcbc] px-3 rounded-xl flex justify-center items-center gap-1.5 text-primary-gray">
                    Pending
                    <svg
                        width="8"
                        height="7"
                        viewBox="0 0 8 7"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0H8L4 7" fill="#696969" />
                    </svg>
                </button>
                <button
                    class="text-lg border border-[#bcbcbc] px-3 rounded-xl flex justify-center items-center gap-1.5 text-primary-gray">
                    Sorting
                    <svg
                        width="8"
                        height="7"
                        viewBox="0 0 8 7"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0H8L4 7" fill="#696969" />
                    </svg>
                </button>
            </div>
        </div>

        <div class="flex justify-center items-center gap-4">
            <div class="flex justify-center items-center gap-2.5">
                <input
                    class="w-72 h-11 rounded-xl shadow-md shadow-black/20 bg-white px-3 hidden lg:inline-block"
                    type="text"
                    placeholder="Search" />

                <div
                    class="flex items-center justify-center p-2.5 rounded-xl bg-[#eaffea] shadow-md shadow-black/20">
                    <svg
                        class="w-6 h-6"
                        viewBox="0 0 23 23"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M8.54286 0C10.8086 0 12.9815 0.900048 14.5836 2.50214C16.1857 4.10424 17.0857 6.27715 17.0857 8.54286C17.0857 10.6589 16.3103 12.604 15.0354 14.1023L15.3903 14.4571H16.4286L23 21.0286L21.0286 23L14.4571 16.4286V15.3903L14.1023 15.0354C12.604 16.3103 10.6589 17.0857 8.54286 17.0857C6.27715 17.0857 4.10424 16.1857 2.50214 14.5836C0.900048 12.9815 0 10.8086 0 8.54286C0 6.27715 0.900048 4.10424 2.50214 2.50214C4.10424 0.900048 6.27715 0 8.54286 0ZM8.54286 2.62857C5.25714 2.62857 2.62857 5.25714 2.62857 8.54286C2.62857 11.8286 5.25714 14.4571 8.54286 14.4571C11.8286 14.4571 14.4571 11.8286 14.4571 8.54286C14.4571 5.25714 11.8286 2.62857 8.54286 2.62857Z"
                            fill="#424242" />
                    </svg>
                </div>
            </div>

            <button
                class="p-3 lg:px-5 lg:py-2.5 rounded-xl bg-[#0a5c36] flex justify-center items-center gap-1.5 text-white font-medium text-2xl">
                <svg
                    class="w-5 h-5 lg:w-4 lg:h-4"
                    viewBox="0 0 14 14"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M14 8H8V14H6V8H0V6H6V0H8V6H14V8Z" fill="white" />
                </svg>
                <span
                    class="font-medium text-2xl text-white hidden lg:inline whitespace-nowrap"
                    >Create Case</span
                >
            </button>
        </div>
    </div>

    <!-- filter options row -->
    <div
        *ngIf="showFilter"
        class="mt-4 p-4 border rounded-lg bg-white shadow-sm">
        <div class="flex gap-6">
            <div class="flex items-center">
                <h1 class="font-bold mr-2">Status:</h1>
                <label class="flex items-center" hlmLabel>
                    <hlm-switch class="mr-2" />
                    Active
                </label>
            </div>
            <div>
                <div class="flex items-center gap-2">
                    <h1 class="font-bold mr-2">Priority:</h1>
                    <brn-select
                        class="inline-block"
                        placeholder="Select an option">
                        <hlm-select-trigger class="w-56">
                            <hlm-select-value />
                        </hlm-select-trigger>
                        <hlm-select-content>
                            <hlm-option value="Refresh">Low</hlm-option>
                            <hlm-option value="Settings">High</hlm-option>
                        </hlm-select-content>
                    </brn-select>
                </div>
            </div>
        </div>
    </div>

    <table class="min-w-full">
        <thead class="bg-gray-50 dark:bg-gray-700">
            <tr>
                @for(tableTitle of tableTitles;track $index){
                <th
                    class="px-6 py-3 text-left text-[20px] font-medium whitespace-nowrap">
                    {{ tableTitle }}
                </th>
                }
            </tr>
        </thead>
        <tbody
            class="bg-white dark:bg-gray-800 divide-y divide-gray-200 dark:divide-gray-700">
            @for (user of users; track user) {
            <tr>
                <td
                    class="px-6 py-4 whitespace-nowrap text-xl font-medium text-primary-gray dark:text-white">
                    {{ user.caseNumber }}
                </td>
                <td
                    class="px-6 py-4 whitespace-nowrap text-xl font-medium text-primary-gray dark:text-white">
                    {{ user.caseTitle }}
                </td>
                <td
                    class="px-6 py-4 whitespace-nowrap text-xl font-medium text-primary-gray dark:text-white">
                    {{ user.clientName }}
                </td>
                <td
                    class="px-6 py-4 whitespace-nowrap text-xl font-medium text-primary-gray dark:text-white">
                    {{ user.courtName }}
                </td>
                <td
                    class="px-6 py-4 whitespace-nowrap text-xl font-medium text-primary-gray dark:text-white">
                    {{ user.nextHearingDate }}
                </td>
                <td
                    class="px-6 py-4 whitespace-nowrap text-xl font-medium dark:text-white"
                    [ngStyle]="{ color: setColor(user.status.toLowerCase()) }">
                    {{ user.status }}
                </td>
                <td
                    class="px-6 py-4 whitespace-nowrap text-xl font-medium text-primary-gray dark:text-white">
                    {{ user.caseType }}
                </td>
                <td
                    class="px-6 py-4 whitespace-nowrap text-xl font-medium text-primary-gray dark:text-white flex justify-center items-center gap-3.5">
                    <svg
                        width="20"
                        height="21"
                        viewBox="0 0 20 21"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M18.04 11.13C18.18 11.13 18.31 11.19 18.42 11.3L19.7 12.58C19.92 12.79 19.92 13.14 19.7 13.35L18.7 14.35L16.65 12.3L17.65 11.3C17.76 11.19 17.9 11.13 18.04 11.13ZM16.07 12.88L18.12 14.93L12.06 21H10V18.94L16.07 12.88ZM8 18L6 20H2C0.9 20 0 19.1 0 18V4C0 2.9 0.9 2 2 2H6.18C6.6 0.84 7.7 0 9 0C10.3 0 11.4 0.84 11.82 2H16C17.1 2 18 2.9 18 4V8L16 10V4H14V6H4V4H2V18H8ZM9 2C8.45 2 8 2.45 8 3C8 3.55 8.45 4 9 4C9.55 4 10 3.55 10 3C10 2.45 9.55 2 9 2Z"
                            fill="#434343" />
                    </svg>

                    <svg
                        width="16"
                        height="18"
                        viewBox="0 0 16 18"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M5 0V1H0V3H1V16C1 16.5304 1.21071 17.0391 1.58579 17.4142C1.96086 17.7893 2.46957 18 3 18H13C13.5304 18 14.0391 17.7893 14.4142 17.4142C14.7893 17.0391 15 16.5304 15 16V3H16V1H11V0H5ZM3 3H13V16H3V3ZM5 5V14H7V5H5ZM9 5V14H11V5H9Z"
                            fill="#434343" />
                    </svg>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
