<div class="">
    <div class="flex justify-between">
        <h1 class="font-bold text-3xl">Users</h1>
        <div class="flex gap-4">
            <div>
                <div class="relative w-96">
                    <div
                        class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                        <!-- Heroicon: search icon -->
                        <hlm-icon size="sm" name="lucideSearch" />
                    </div>
                    <input
                        class="w-full pl-10 bg-green-50 border sm:text-sm"
                        type="text"
                        placeholder="Search"
                        hlmInput />
                </div>
            </div>
            <hlm-dialog>
                <button id="edit-profile" brnDialogTrigger hlmBtn>
                    Invite User
                </button>
                <hlm-dialog-content
                    class="md:w-[800px] w-full"
                    *brnDialogContent="let ctx">
                    <hlm-dialog-header>
                        <h3 hlmDialogTitle class="text-2xl font-bold">
                            Invite User
                        </h3>
                    </hlm-dialog-header>
                    <div class="mt-6 grid gap-4">
                        <div class="items-center grid grid-cols-4 w-full gap-4">
                            <label hlmLabel for="email" class="text-right"
                                >Email</label
                            >
                            <input
                                hlmInput
                                id="email"
                                placeholder="Enter User's Email"
                                class="col-span-3" />
                        </div>
                        <div class="items-center grid grid-cols-4 gap-4">
                            <label hlmLabel for="role" class="text-right"
                                >User Role</label
                            >
                            <input
                                hlmInput
                                id="role"
                                placeholder="Enter the role"
                                class="col-span-3" />
                        </div>
                    </div>
                    <hlm-dialog-footer>
                        <button hlmBtn type="submit">Send Invitation</button>
                    </hlm-dialog-footer>
                </hlm-dialog-content>
            </hlm-dialog>
        </div>
    </div>

    <div class="flex mt-10 flex-col">
        <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full sm:px-6 lg:px-8">
                <div class="overflow-hidden shadow-md sm:rounded-lg">
                    <table class="min-w-full">
                        <thead class="bg-gray-50 dark:bg-gray-700">
                            <tr>
                                <th
                                    scope="col"
                                    class="px-6 py-3 text-left text-xs font-bold text-gray-500 uppercase tracking-wider">
                                    First Name
                                </th>
                                <th
                                    scope="col"
                                    class="px-6 py-3 text-left text-xs font-bold text-gray-500 uppercase tracking-wider">
                                    Last Name
                                </th>
                                <th
                                    scope="col"
                                    class="px-6 py-3 text-left text-xs font-bold text-gray-500 uppercase tracking-wider">
                                    Email
                                </th>
                                <th
                                    scope="col"
                                    class="px-6 py-3 text-left text-xs font-bold text-gray-500 uppercase tracking-wider">
                                    Role
                                </th>
                                <th
                                    scope="col"
                                    class="px-6 py-3 text-left text-xs font-bold text-gray-500 uppercase tracking-wider">
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody
                            class="bg-white dark:bg-gray-800 divide-y divide-gray-200 dark:divide-gray-700">
                            <tr *ngFor="let user of users">
                                <td
                                    class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900 dark:text-white">
                                    {{ user.firstName }}
                                </td>
                                <td
                                    class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 dark:text-gray-400">
                                    {{ user.lastName }}
                                </td>
                                <td
                                    class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 dark:text-gray-400">
                                    {{ user.email }}
                                </td>
                                <td
                                    class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 dark:text-gray-400">
                                    {{ user.role }}
                                </td>
                                <td
                                    class="px-6 whitespace-nowrap text-sm font-medium">
                                    <div class="flex gap-2">
                                        <hlm-dialog>
                                            <button
                                                id="edit-profile"
                                                brnDialogTrigger>
                                                <hlm-icon
                                                    size="sm"
                                                    name="lucideCog" />
                                            </button>

                                            <hlm-dialog-content
                                                class="md:min-w-[600px] w-full"
                                                *brnDialogContent="let ctx">
                                                <h1 class="text-2xl font-bold">
                                                    User Name
                                                </h1>
                                                <div class="mt-4 grid gap-4">
                                                    <brn-select
                                                        class="inline-block"
                                                        placeholder="Current Role">
                                                        <hlm-select-trigger
                                                            class="w-56">
                                                            <hlm-select-value />
                                                        </hlm-select-trigger>
                                                        <hlm-select-content>
                                                            <hlm-option
                                                                value="Refresh"
                                                                >Lawer</hlm-option
                                                            >
                                                            <hlm-option
                                                                value="Settings"
                                                                >Accountant</hlm-option
                                                            >
                                                            <hlm-option
                                                                value="Help"
                                                                >Client</hlm-option
                                                            >
                                                            <hlm-option
                                                                value="Signout"
                                                                >Official</hlm-option
                                                            >
                                                        </hlm-select-content>
                                                    </brn-select>

                                                    <div>
                                                        <h1 class="font-bold">
                                                            Permissions :
                                                        </h1>

                                                        <table
                                                            class="min-w-full mt-4">
                                                            <thead
                                                                class="bg-gray-50 dark:bg-gray-700">
                                                                <tr>
                                                                    <th
                                                                        scope="col"
                                                                        class="lg:px-6 md:px-4 px-2 py-3 text-center text-xs font-bold text-gray-500 tracking-wider"></th>
                                                                    <th
                                                                        scope="col"
                                                                        class="lg:px-6 md:px-4 px-2 py-3 text-center text-xs font-bold text-gray-500 tracking-wider">
                                                                        Read
                                                                    </th>
                                                                    <th
                                                                        scope="col"
                                                                        class="lg:px-6 md:px-4 px-2 py-3 text-center text-xs font-bold text-gray-500 tracking-wider">
                                                                        Create
                                                                    </th>
                                                                    <th
                                                                        scope="col"
                                                                        class="lg:px-6 md:px-4 px-2 py-3 text-center text-xs font-bold text-gray-500 tracking-wider">
                                                                        Edit
                                                                    </th>
                                                                    <th
                                                                        scope="col"
                                                                        class="lg:px-6 md:px-4 px-2 py-3 text-center text-xs font-bold text-gray-500 tracking-wider">
                                                                        Delete
                                                                    </th>
                                                                    <th
                                                                        scope="col"
                                                                        class="lg:px-6 md:px-4 px-2 py-3 text-left text-xs font-bold text-gray-500 tracking-wider">
                                                                        None
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody
                                                                class="bg-white dark:bg-gray-800 divide-y divide-gray-200 dark:divide-gray-700">
                                                                <tr
                                                                    *ngFor="
                                                                        let permission of permissions
                                                                    ">
                                                                    <td
                                                                        class="lg:px-6 md:px-4 px-2 py-4 whitespace-nowrap text-sm font-medium text-gray-900 dark:text-white">
                                                                        {{
                                                                            permission.name
                                                                        }}
                                                                    </td>
                                                                    <td
                                                                        class="lg:px-6 md:px-4 px-2 py-4 text-center">
                                                                        <hlm-checkbox
                                                                            [(ngModel)]="
                                                                                permission.read
                                                                            " />
                                                                    </td>
                                                                    <td
                                                                        class="lg:px-6 md:px-4 px-2 py-4 text-center">
                                                                        <hlm-checkbox
                                                                            [(ngModel)]="
                                                                                permission.create
                                                                            " />
                                                                    </td>
                                                                    <td
                                                                        class="lg:px-6 md:px-4 px-2 py-4 text-center">
                                                                        <hlm-checkbox
                                                                            [(ngModel)]="
                                                                                permission.edit
                                                                            " />
                                                                    </td>
                                                                    <td
                                                                        class="lg:px-6 md:px-4 px-2 py-4 text-center">
                                                                        <hlm-checkbox
                                                                            [(ngModel)]="
                                                                                permission.delete
                                                                            " />
                                                                    </td>
                                                                    <td
                                                                        class="lg:px-6 md:px-4 px-2 py-4">
                                                                        <brn-radio
                                                                            [(ngModel)]="
                                                                                permission.none
                                                                            "
                                                                            class="cursor-pointer"
                                                                            hlm
                                                                            value="abc">
                                                                            <hlm-radio-indicator
                                                                                indicator />
                                                                        </brn-radio>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                                <button
                                                    hlmBtn
                                                    class="md:w-1/5 w-1/2"
                                                    type="submit">
                                                    Save
                                                </button>
                                            </hlm-dialog-content>
                                        </hlm-dialog>
                                        <hlm-dialog>
                                            <button
                                                id="edit-profile"
                                                brnDialogTrigger>
                                                <hlm-icon
                                                    size="sm"
                                                    name="lucideTrash2" />
                                            </button>

                                            <hlm-dialog-content
                                                class="sm:max-w-[600px] w-full"
                                                *brnDialogContent="let ctx">
                                                <hlm-dialog-header>
                                                    <h3
                                                        hlmDialogTitle
                                                        class="text-2xl font-bold">
                                                        Delete User?
                                                    </h3>
                                                </hlm-dialog-header>
                                                <div class="py-4 grid gap-4">
                                                    <h1>
                                                        Are you sure You want to
                                                        delete this user?
                                                    </h1>
                                                </div>
                                                <hlm-dialog-footer
                                                    class="flex gap-2">
                                                    <button hlmBtn>
                                                        Delete
                                                    </button>
                                                </hlm-dialog-footer>
                                            </hlm-dialog-content>
                                        </hlm-dialog>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-6">
        <h1 class="font-bold text-4xl">Roles</h1>
        <div class="mt-4 flex gap-4">
            <button size="lg" hlmBtn variant="outline">Lawer</button>
            <button size="lg" hlmBtn variant="outline">Barrister</button>
            <button size="lg" hlmBtn variant="outline">Accountant</button>
            <button size="lg" hlmBtn variant="outline">Official</button>
        </div>
        <div class="mt-4">
            <hlm-dialog>
                <button brnDialogTrigger hlmBtn>Create Role</button>
                <hlm-dialog-content
                    class="md:min-w-[600px] w-full"
                    *brnDialogContent="let ctx">
                    <h1 class="text-2xl font-bold">Create New Role</h1>
                    <div class="mt-4 grid gap-4">
                        <div class="">
                            <input
                                hlmInput
                                placeholder="Role Name"
                                class="md:w-1/2 w-full mt-2" />
                        </div>

                        <div>
                            <h1 class="font-bold">Permissions :</h1>

                            <table class="min-w-full mt-4">
                                <thead class="bg-gray-50 dark:bg-gray-700">
                                    <tr>
                                        <th
                                            scope="col"
                                            class="lg:px-6 md:px-4 px-2 py-3 text-center text-xs font-bold text-gray-500 tracking-wider"></th>
                                        <th
                                            scope="col"
                                            class="lg:px-6 md:px-4 px-2 py-3 text-center text-xs font-bold text-gray-500 tracking-wider">
                                            Read
                                        </th>
                                        <th
                                            scope="col"
                                            class="lg:px-6 md:px-4 px-2 py-3 text-center text-xs font-bold text-gray-500 tracking-wider">
                                            Create
                                        </th>
                                        <th
                                            scope="col"
                                            class="lg:px-6 md:px-4 px-2 py-3 text-center text-xs font-bold text-gray-500 tracking-wider">
                                            Edit
                                        </th>
                                        <th
                                            scope="col"
                                            class="lg:px-6 md:px-4 px-2 py-3 text-center text-xs font-bold text-gray-500 tracking-wider">
                                            Delete
                                        </th>
                                        <th
                                            scope="col"
                                            class="lg:px-6 md:px-4 px-2 py-3 text-left text-xs font-bold text-gray-500 tracking-wider">
                                            None
                                        </th>
                                    </tr>
                                </thead>
                                <tbody
                                    class="bg-white dark:bg-gray-800 divide-y divide-gray-200 dark:divide-gray-700">
                                    <tr *ngFor="let permission of permissions">
                                        <td
                                            class="lg:px-6 md:px-4 px-2 py-4 whitespace-nowrap text-sm font-medium text-gray-900 dark:text-white">
                                            {{ permission.name }}
                                        </td>
                                        <td
                                            class="lg:px-6 md:px-4 px-2 py-4 text-center">
                                            <hlm-checkbox
                                                [(ngModel)]="permission.read" />
                                        </td>
                                        <td
                                            class="lg:px-6 md:px-4 px-2 py-4 text-center">
                                            <hlm-checkbox
                                                [(ngModel)]="
                                                    permission.create
                                                " />
                                        </td>
                                        <td
                                            class="lg:px-6 md:px-4 px-2 py-4 text-center">
                                            <hlm-checkbox
                                                [(ngModel)]="permission.edit" />
                                        </td>
                                        <td
                                            class="lg:px-6 md:px-4 px-2 py-4 text-center">
                                            <hlm-checkbox
                                                [(ngModel)]="
                                                    permission.delete
                                                " />
                                        </td>
                                        <td class="lg:px-6 md:px-4 px-2 py-4">
                                            <brn-radio
                                                [(ngModel)]="permission.none"
                                                class="cursor-pointer"
                                                hlm
                                                value="abc">
                                                <hlm-radio-indicator
                                                    indicator />
                                            </brn-radio>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <button hlmBtn class="md:w-1/5 w-1/2" type="submit">
                        Save Role
                    </button>
                </hlm-dialog-content>
            </hlm-dialog>
        </div>
    </div>
</div>
