<app-button-group class="button-group"></app-button-group>

<table
    class="table mat-elevation-z3"
    mat-table
    #table
    [dataSource]="dataSource">
    <ng-container matColumnDef="step">
        <th mat-header-cell *matHeaderCellDef>
            {{ $any(columnNamesMap)['step'] }}
        </th>
        <td mat-cell *matCellDef="let row">{{ row.step }}</td>
    </ng-container>
    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>
            {{ $any(columnNamesMap)['description'] }}
        </th>
        <td mat-cell *matCellDef="let row">
            {{ row.description }}
            <div class="cell-suffix">
                <mat-checkbox>Requires evidence</mat-checkbox>
            </div>
        </td>
    </ng-container>
    <ng-container matColumnDef="expectedResult">
        <th mat-header-cell *matHeaderCellDef>
            {{ $any(columnNamesMap)['expectedResult'] }}
        </th>
        <td mat-cell *matCellDef="let row">{{ row.expectedResult }}</td>
    </ng-container>
    <ng-container matColumnDef="resultConfig">
        <th mat-header-cell *matHeaderCellDef>
            {{ $any(columnNamesMap)['resultConfig'] }}
        </th>
        <td mat-cell *matCellDef="let row">{{ row.resultConfig }}</td>
    </ng-container>
    <ng-container matColumnDef="requirementLink">
        <th mat-header-cell *matHeaderCellDef>
            {{ $any(columnNamesMap)['requirementLink'] }}
        </th>
        <td mat-cell *matCellDef="let row">
            <mat-chip-listbox>
                <mat-chip *ngFor="let chip of row.requirementLink">{{
                    chip
                }}</mat-chip>
            </mat-chip-listbox>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
