<div class="mx-4 md:mx-16">
    <section>
        <h2 class="text-gray3a my-5 text-4xl font-semibold">News</h2>
        <div
            rel="noopener noreferrer"
            class="border-grayaf group mx-auto block max-w-full gap-3 border-b pb-7 sm:max-w-full lg:grid lg:grid-cols-12">
            <img
                [src]="breakingNews.image"
                alt=""
                class="h-64 w-full rounded-xl object-cover sm:h-96 lg:col-span-7" />
            <div class="space-y-2 p-0 md:p-6 lg:col-span-5">
                <h3 class="pb-4 text-2xl font-semibold sm:text-4xl">
                    {{ breakingNews.title }}
                </h3>
                <span class="text-xs">{{ breakingNews.date }}</span>
                <p class="pt-2">{{ breakingNews.description }}</p>
                <span class="text-blue6d pt-1.5">Read more...</span>
            </div>
        </div>
    </section>

    <section>
        <div
            class="grid grid-cols-1 gap-6 py-20 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-8">
            <div class="col-span-5">
                <div
                    class="grid grid-cols-1 gap-5 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2">
                    <div
                        *ngFor="let i of generalNews; let index = index"
                        class="!rounded-full">
                        <p-card
                            class="mx-auto max-w-sm !rounded-full shadow-xl">
                            <ng-template pTemplate="header">
                                <img
                                    [src]="i.image"
                                    alt="News Image"
                                    class="h-44 w-full rounded object-cover" />
                            </ng-template>

                            <ng-template pTemplate="subtitle">
                                <span class="text-xs">{{ i.date }}</span>
                            </ng-template>

                            <ng-template pTemplate="title">
                                <h3 class="text-2xl font-semibold">
                                    {{ i.title }}
                                </h3>
                            </ng-template>

                            <ng-template pTemplate="content">
                                <p class="!text-lg">
                                    {{ i.description }}
                                    <span class="text-blue6d pt-1.5"
                                        >Read more...</span
                                    >
                                </p>
                            </ng-template>
                        </p-card>
                    </div>
                </div>
            </div>

            <div
                class="border-grayaf col-span-5 w-full rounded-2xl border p-3 md:col-span-4 lg:col-span-3">
                <p class="text-blue6d text-4xl font-bold">Top News</p>
                <hr class="border-grayc5 my-6 border-t" />

                @for (i of topNews; track $index) {
                    <div class="flex items-center justify-start gap-3">
                        <img
                            [src]="i.image"
                            alt=""
                            class="h-20 w-24 rounded-xl" />

                        <div>
                            <p class="text-gray59 text-xs">{{ i.date }}</p>
                            <p class="text-base font-semibold text-black">
                                {{ i.title }}
                            </p>
                            <p class="text-gray59 text-xs">
                                {{ i.description }}
                                <span class="text-blue6d"> Read more... </span>
                            </p>
                        </div>
                    </div>
                    <hr class="border-grayc5 my-6 border-t" />
                }
            </div>
        </div>
    </section>
</div>
