<div class="w-full p-4 border rounded-sm">
    <h2 class="text-lg font-bold mb-4">Edit Profile</h2>
    <div class="mb-4">
        <label class="block font-bold text-gray-700">First Name</label>
        <input
            type="text"
            class="w-full mt-2 p-2 h-12 rounded-lg"
            placeholder="First Name" />
    </div>
    <div class="mb-4">
        <label class="block font-bold text-gray-700">Second Name</label>
        <input
            type="text"
            class="w-full mt-2 p-2 h-12 rounded-lg"
            placeholder="Second Name" />
    </div>
    <div class="mb-4">
        <label class="block font-bold text-gray-700">Email</label>
        <input
            type="email"
            class="w-full mt-2 p-2 h-12 rounded-lg"
            placeholder="Email" />
    </div>
    <button
        class="bg-green-500 hover:bg-green-400 text-white px-4 py-2 rounded">
        Save
    </button>
</div>
