<section class="relative z-50 bg-[#FFFEF3] py-14">
    <app-section-title>
        <span class="text-gray3e title text-xl sm:text-2xl">FAQ</span>
        <svg
            class="title-icon"
            width="32"
            height="25"
            viewBox="0 0 32 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
                d="M22.8059 10.8333C21.5571 11.4167 20.4644 12.2667 19.5746 13.3333H11.7073C9.55317 13.3333 7.80488 11.4667 7.80488 9.16667C7.80488 6.86667 9.55317 5 11.7073 5H23.4146V7.5H11.7073C10.8488 7.5 10.1463 8.25 10.1463 9.16667C10.1463 10.0833 10.8488 10.8333 11.7073 10.8333H22.8059ZM2.34146 9.16667C2.34146 5.48333 5.13561 2.5 8.58537 2.5H24.9756C27.1298 2.5 28.878 4.36667 28.878 6.66667C28.878 8.06667 28.2224 9.3 27.239 10.05C28.1756 10.1167 29.081 10.3333 29.9239 10.6833C30.7356 9.56667 31.2195 8.18333 31.2195 6.66667C31.2195 2.98333 28.4254 0 24.9756 0H8.58537C3.84 0 0 4.1 0 9.16667C0 14.2333 3.84 18.3333 8.58537 18.3333H17.3112C17.4517 17.45 17.7015 16.6167 18.0293 15.8333H8.58537C5.13561 15.8333 2.34146 12.85 2.34146 9.16667ZM30.1893 14.7333L24.5854 20.7167L22.1034 18.0667L20.2927 20L24.5854 25L32 17.0833L30.1893 14.7333Z"
                fill="#3E3D3D" />
        </svg>

        <h2
            class="text-gray63 subtitle mt-10 mb-8 text-center text-lg sm:text-xl md:text-2xl">
            Feel free to let me know if you need any additional
            <br class="hidden sm:block" />
            questions or if there are specific areas you want to focus
        </h2>
    </app-section-title>

    <div class="px-16 py-8"> 
        <div class="box-shadow rounded-xl px-4 pt-5 bg-white">
            @for (i of [1, 2, 3, 4, 5]; track $index) {
                <div class="" (click)="showFaqAns(faqAns, minus, plus)">
                    <div class="mt-5 flex items-center justify-between px-6">
                        <span class="text-2xl text-black"
                            >What if I have an urgent question outside of office
                            hours?</span
                        >
                        <span class="hidden text-2xl text-black" #minus>
                            <svg
                                width="16"
                                height="4"
                                viewBox="0 0 16 4"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M16 4H0V0H16" fill="black" />
                            </svg>
                        </span>

                        <span class="text-2xl text-black" #plus>
                            <svg
                                width="16"
                                height="16"
                                viewBox="0 0 16 16"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M16 9.46285H10V15.1406H6V9.46285H0V5.67771H6V0H10V5.67771H16V9.46285Z"
                                    fill="black" />
                            </svg>
                        </span>
                    </div>
                    <div
                        class="text-gray39 mt-8 h-0 overflow-hidden px-6 text-xl transition-all duration-300"
                        #faqAns>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Repellat ab perferendis doloribus inventore dolor
                        deserunt fugiat ducimus, similique error hic iure
                        officiis alias dicta explicabo quas quae recusandae
                        reprehenderit dolores?
                    </div>
                    <hr />
                </div>
            }
        </div>
    </div>
</section>