:host {
    display: block;
}

.table {
    display: table;
    background-color: rgb(255 255 255);
    padding: 1rem;
    border-radius: 0.5rem;
    width: calc(100% - 2rem);
    overflow-x: auto;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
    padding: 10px;
}

.approver-selectors {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
}
