<footer class="bg-slate-950 text-gray-200">
    <div class="mx-16">
        <div class="p-4 py-6 lg:py-8">
            <div class="md:flex md:justify-between">
                <div class="mb-6 md:mb-0">
                    <a href="/" class="flex items-center">
                        <img
                            src="../../../../assets/logo/sheresta.png"
                            class="me-3 h-8"
                            alt="seresta" />
                    </a>
                    <div class="mt-4 md:mt-12">
                        <h1>Download Our Mobile App</h1>
                        <div class="mt-2 flex items-center gap-2">
                            <img
                                src="../../../../assets/images/hero/playStore.png"
                                class="me-3 h-8"
                                alt="seresta" />

                            <img
                                src="../../../../assets/images/hero/appStore.png"
                                class="me-3 h-8"
                                alt="seresta" />
                        </div>
                    </div>
                </div>
                <div
                    class="grid grid-cols-2 gap-2 sm:grid-cols-3 sm:gap-6 md:flex md:justify-between">
                    <div>
                        <h2 class="mb-6 text-sm font-semibold uppercase">
                            Legal
                        </h2>
                        <ul class="text-sm">
                            <li class="mb-4">
                                <a href="#" class="hover:underline"
                                    >Privacy Policy</a
                                >
                            </li>
                            <li>
                                <a href="#" class="hover:underline"
                                    >Terms &amp; Conditions</a
                                >
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline"
                                    >Privacy Policy</a
                                >
                            </li>
                            <li>
                                <a href="#" class="hover:underline"
                                    >Terms &amp; Conditions</a
                                >
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline"
                                    >Privacy Policy</a
                                >
                            </li>
                            <li>
                                <a href="#" class="hover:underline"
                                    >Terms &amp; Conditions</a
                                >
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h2 class="mb-6 text-sm font-semibold uppercase">
                            Resources
                        </h2>
                        <ul class="text-sm">
                            <li class="mb-4">
                                <a href="/" class="hover:underline">Home</a>
                            </li>
                            <li>
                                <a href="/" class="hover:underline">Features</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h2 class="mb-6 text-sm font-semibold uppercase">
                            Follow us
                        </h2>
                        <ul class="text-sm">
                            <li class="mb-4">
                                <a
                                    href="https://github.com"
                                    class="hover:underline"
                                    >Github</a
                                >
                            </li>
                            <li>
                                <a
                                    href="https://discord.gg"
                                    class="hover:underline"
                                    >Discord</a
                                >
                            </li>
                            <li class="mb-4">
                                <a
                                    href="https://github.com"
                                    class="hover:underline"
                                    >Github</a
                                >
                            </li>
                            <li>
                                <a
                                    href="https://discord.gg"
                                    class="hover:underline"
                                    >Discord</a
                                >
                            </li>
                            <li class="mb-4">
                                <a
                                    href="https://github.com"
                                    class="hover:underline"
                                    >Github</a
                                >
                            </li>
                            <li>
                                <a
                                    href="https://discord.gg"
                                    class="hover:underline"
                                    >Discord</a
                                >
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h2 class="mb-6 text-sm font-semibold uppercase">
                            Legal
                        </h2>
                        <ul class="text-sm">
                            <li class="mb-4">
                                <a href="#" class="hover:underline"
                                    >Privacy Policy</a
                                >
                            </li>
                            <li>
                                <a href="#" class="hover:underline"
                                    >Terms &amp; Conditions</a
                                >
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline"
                                    >Privacy Policy</a
                                >
                            </li>
                            <li>
                                <a href="#" class="hover:underline"
                                    >Terms &amp; Conditions</a
                                >
                            </li>
                            <li class="mb-4">
                                <a href="#" class="hover:underline"
                                    >Privacy Policy</a
                                >
                            </li>
                            <li>
                                <a href="#" class="hover:underline"
                                    >Terms &amp; Conditions</a
                                >
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr class="my-6 border-white sm:mx-auto lg:my-8" />
            <div class="justify-between sm:items-center md:flex">
                <span class="text-sm sm:text-center"
                    >© {{ year }}
                    <a href="/" class="hover:underline">Seresta™</a>. All
                    Rights Reserved.
                </span>
                <div class="mt-4 flex sm:mt-0 sm:justify-center">
                    <a href="#" class="hover:scale-150 hover:transition-all hover:duration-300">
                        <i class="pi pi-facebook text-xl"></i>
                    </a>

                    <a href="#" class="ms-5 hover:scale-150 hover:transition-all hover:duration-300">
                      <i class="pi pi-twitter text-xl"></i>
                    </a>
                    <a href="#" class="ms-5 hover:scale-150 hover:transition-all hover:duration-300">
                         <i class="pi pi-github text-xl"></i>
                    </a>
                    <a href="#" class="ms-5 hover:scale-150 hover:transition-all hover:duration-300">
                       <i class="pi pi-linkedin text-xl"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
