<h2 mat-dialog-title>Deviation</h2>

<mat-dialog-content>
    <div class="ad--top">
        <mat-form-field class="ad--input" appearance="outline">
            <mat-label>Deviation ID</mat-label>
            <input matInput />
        </mat-form-field>
        <mat-form-field class="ad--input" appearance="outline">
            <mat-label>Deviation Title</mat-label>
            <input matInput />
        </mat-form-field>
        <mat-form-field class="ad--input" appearance="outline">
            <mat-label>Deviation Description</mat-label>
            <input matInput />
        </mat-form-field>
        <mat-form-field class="ad--input" appearance="outline">
            <mat-label>Deviation Resolution</mat-label>
            <input matInput />
        </mat-form-field>
        <mat-form-field class="ad--input" appearance="outline">
            <mat-label>Deviation Category</mat-label>
            <mat-select placeholder="Deviation Category" name="item">
                @for (item of ['A', 'B']; track item) {
                <mat-option [value]="item">
                    {{ item }}
                </mat-option>
                }
            </mat-select>
        </mat-form-field>
    </div>

    <div>
        <button mat-button>Add new steps for retest?</button>
    </div>
</mat-dialog-content>

<mat-dialog-actions class="ad--footer">
    <button mat-button color="primary" [mat-dialog-close]="null">
        Route for Approval
    </button>
    <button
        mat-raised-button
        color="primary"
        [mat-dialog-close]="null"
        cdkFocusInitial>
        Save
    </button>
</mat-dialog-actions>
