<nav class="bg-white text-gray-700 w-full shadow-sm">
    <div class="flex flex-wrap items-center justify-between mx-auto px-4 py-4">
        <!-- TODO:remove important -->
        <div
            (click)="toggleSidebar()"
            class="cursor-pointer pi pi-bars !text-3xl"></div>

        <div class="flex items-center gap-4">
            <div class="relative w-56 sm:w-80">
                <input
                    class="w-full rounded-full !bg-green-100 px-4 py-2 pl-10"
                    placeholder="Search" />
                <div
                    class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                    <span class="pi pi-search !text-sm !font-semibold"></span>
                </div>
            </div>
            <button id="profileButton">
                <img
                    src="avatar/avater.img"
                    alt="User image"
                    (error)="showFallback($event)"
                    class="w-10 h-10 object-cover rounded-full" />
                @if (!uiState.imageLoaded) {
                    <div
                        class="w-10 h-10 inline-block bg-destructive text-white font-semibold text-xl rounded-full">
                        <span class="leading-10">RG</span>
                    </div>
                }
            </button>
        </div>

        @if (uiState.showProfileDropDown) {
            <div
                class="flex flex-col gap-3 absolute bg-white shadow-md w-56 top-20 right-4 py-4 rounded-md"
                id="profileDropDown">
                <button class="flex justify-start px-3 leading-relaxed">
                    <span>John Doe</span>
                </button>

                <hr class="opacity-70" />

                <button
                    class="flex justify-start items-center gap-2 hover:bg-slate-200 transition-all px-3 leading-relaxed"
                    routerLink="/profile">
                    <span class="pi pi-user !text-black !font-medium"></span>
                    <span>Profile</span>
                </button>

                <button
                    class="flex justify-start items-center gap-2 hover:bg-slate-200 transition-all px-3 leading-relaxed">
                    <span class="pi pi-cog !text-black !font-medium"></span>
                    <span>Settings</span>
                </button>

                <button
                    class="flex justify-start gap-2 items-center hover:bg-slate-200 transition-all px-3 leading-relaxed">
                    <!-- Keyborad icon is missing in primeng -->
                    <span class="pi pi-users !text-black !font-medium"></span>
                    <!-- <lucide-icon name="keyboard" hlmMenuIcon /> -->
                    <span>Keyboard Shortcuts</span>
                </button>

                <button
                    class="flex justify-start items-center gap-2 hover:bg-slate-200 transition-all px-3 leading-relaxed">
                    <span class="pi pi-users !text-black !font-medium"></span>
                    <span>Team</span>
                </button>

                <div class="w-56 m-0 p-0">
                    <button
                        class="flex justify-between items-center hover:bg-slate-200 transition-all px-3 leading-relaxed w-full"
                        (click)="
                            headerUtilService.toggleMoreOptions(
                                moreOptions,
                                chevron
                            )
                        ">
                        <span class="flex justify-start items-center gap-2">
                            <span>
                                <!-- <lucide-icon
                                    name="headset"
                                    hlmMenuIcon
                                    class="m-0" /> -->
                                <span
                                    class="pi pi-headphones !text-black !font-medium"></span>
                            </span>
                            <span>Support</span>
                        </span>
                        <span
                            class="pi pi-chevron-right !text-black !font-medium !text-xs transition-all duration-400"
                            #chevron></span>
                    </button>

                    <div
                        class="h-0 overflow-hidden transition-all duration-400 mt-3"
                        #moreOptions>
                        <button
                            class="flex justify-start items-center gap-2 hover:bg-slate-200 transition-all px-3 leading-loose w-full">
                            <span
                                class="pi pi-envelope !text-black !font-medium"></span>
                            <span>Email</span>
                        </button>

                        <button
                            class="flex justify-start items-center gap-2 hover:bg-slate-200 transition-all px-3 leading-loose w-full">
                            <span
                                class="pi pi-comment !text-black !font-medium"></span>
                            <span>Message</span>
                        </button>
                        <button
                            class="flex justify-center items-center hover:bg-slate-200 transition-all px-3 leading-loose w-full">
                            <span>More</span>
                        </button>
                    </div>
                </div>
                <hr class="opacity-50" />
                <button
                    class="flex justify-start items-center gap-2 hover:bg-slate-200 transition-all px-3 leading-relaxed">
                    <span
                        class="pi pi-sign-out !text-black !font-medium"></span>
                    <span>Log Out</span>
                </button>
            </div>
        }
    </div>
</nav>
