<brn-popover
    [state]="state()"
    (stateChanged)="stateChanged($event)"
    sideOffset="5"
    closeDelay="100">
    <button
        class="w-[200px] justify-between"
        id="edit-profile"
        variant="outline"
        brnPopoverTrigger
        hlmBtn>
        {{ currentFramework() ? currentFramework()?.label : 'Select Approver' }}
        <hlm-icon size="sm" name="radixCaretSort" />
    </button>
    <brn-cmd
        *brnPopoverContent="let ctx"
        hlmPopoverContent
        hlm
        class="p-0 w-[200px]">
        <hlm-cmd-input-wrapper>
            <hlm-icon name="radixMagnifyingGlass" />
            <input placeholder="Search framework..." brnCmdInput hlm />
        </hlm-cmd-input-wrapper>
        <div *brnCmdEmpty hlmCmdEmpty>No results found.</div>
        <brn-cmd-list hlm>
            <brn-cmd-group hlm>
                <button
                    *ngFor="let framework of frameworks"
                    brnCmdItem
                    [value]="framework.value"
                    (selected)="commandSelected(framework)"
                    hlm>
                    <hlm-icon
                        [class.opacity-0]="
                            currentFramework()?.value !== framework.value
                        "
                        name="radixCheck"
                        hlmCmdIcon />
                    {{ framework.label }}
                </button>
            </brn-cmd-group>
        </brn-cmd-list>
    </brn-cmd>
</brn-popover>
