<section>
    <h1 class="text-2xl font-bold">Lawyer List</h1>
    <div class="my-5 flex items-center justify-between">
        <div class="flex items-center justify-start gap-3">
            <div>
                <p-button
                    label="Filters"
                    icon="pi pi-filter"
                    iconPos="left"></p-button>
            </div>
            <div
                class="flex items-center justify-start gap-2 rounded-md bg-gray-200 p-1 px-3">
                <p-select
                    [options]="status"
                    [(ngModel)]="selected"
                    size="small"
                    styleClass="{'border-radius': '24px'}"
                    placeholder="Select a Status"
                    class="w-full md:w-56" />
                <p-select
                    [options]="status"
                    [(ngModel)]="selected"
                    size="small"
                    placeholder="Sorting"
                    class="w-full md:w-56" />
            </div>
        </div>
        <div class="flex items-center justify-end gap-3">
            <div class="flex items-center justify-start gap-2">
                <input type="text" pInputText size="small" />
                <p-button icon="pi pi-search" size="large" />
            </div>
        </div>
    </div>
    <div>
        <div class="rounded-md bg-gray-100 p-2">
            <app-lawyer-list-table
                [lawyers]="lawyers"
                [(visible)]="visible"
                [(editMode)]="editMode"></app-lawyer-list-table>
        </div>
    </div>

    <div>
        <p-dialog
            header="Ariful Haque"
            [modal]="true"
            [(visible)]="visible"
            [style]="{
                width: '50%',
            }">
            <p-floatlabel class="w-full md:w-56" variant="in">
                <p-select
                    inputId="in_label"
                    [options]="status"
                    styleClass="w-full"
                    variant="filled" />
                <label for="in_label">In Label</label>
            </p-floatlabel>

            <div class="my-5">
                <div
                    class="flex items-center justify-around gap-5 bg-gray-200 p-2">
                    <div class="w-1/4 pl-3">Set all to</div>
                    <div class="flex w-1/4 items-center">
                        <p-radiobutton inputId="ingredient2" />
                        <label for="ingredient2" class="ml-2">Delete</label>
                    </div>
                    <div class="flex w-1/4 items-center">
                        <p-radiobutton inputId="ingredient2" />
                        <label for="ingredient2" class="ml-2">Read only</label>
                    </div>
                    <div class="flex w-1/4 items-center">
                        <p-radiobutton inputId="ingredient2" />
                        <label for="ingredient2" class="ml-2">Edit</label>
                    </div>
                </div>
                @for (v of [0, 1, 2, 3]; track $index) {
                    <div
                        class="flex items-center justify-around gap-5 bg-gray-100 p-2">
                        <div class="w-1/4 pl-3">{{ v }}</div>
                        <div class="flex w-1/4 items-center">
                            <p-radiobutton
                                name="pizza"
                                value="Mushroom"
                                inputId="ingredient2" />
                            <label for="ingredient2" class="ml-2">Delete</label>
                        </div>
                        <div class="flex w-1/4 items-center">
                            <p-radiobutton
                                name="pizza"
                                value="Mushroom"
                                inputId="ingredient2" />
                            <label for="ingredient2" class="ml-2"
                                >Read only</label
                            >
                        </div>
                        <div class="flex w-1/4 items-center">
                            <p-radiobutton
                                name="pizza"
                                value="Mushroom"
                                inputId="ingredient2" />
                            <label for="ingredient2" class="ml-2">Edit</label>
                        </div>
                    </div>
                }
            </div>

            <div class="flex justify-end gap-2">
                <p-button
                    label="Cancel"
                    severity="secondary"
                    (click)="cancel()" />
                <p-button
                    label="{{ editMode() ? 'Update' : 'Save' }}"
                    (click)="onSave()" />
            </div>
        </p-dialog>
    </div>
</section>
