<body class="bg-gray-100 flex items-center justify-center min-h-[80vh]">
    <div class="bg-white p-12 rounded-xl shadow-lg w-full max-w-sm">
        <h2 class="text-2xl font-bold mb-6 text-center">Reset Password</h2>
        <form>
            <div class="mb-4">
                <label for="current-password" class="block  text-sm font-bold mb-2">Current Password</label>
                <input type="password" id="current-password" name="current-password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
            </div>
            <div class="mb-4">
                <label for="new-password" class="block  text-sm font-bold mb-2">New Password</label>
                <input type="password" id="new-password" name="new-password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
            </div>
            <div class="mb-6">
                <label for="confirm-password" class="block  text-sm font-bold mb-2">Confirm New Password</label>
                <input type="password" id="confirm-password" name="confirm-password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
            </div>
            <div class="flex items-center justify-between">
                <button type="submit" hlmBtn
                brnDialogTrigger
                class="bg-success text-success-foreground hover:bg-green-400">
                    Reset Password
                </button>
            </div>
        </form>
    </div>
</body>
