<div class="flex items-center justify-center min-h-fit">
    <section class="w-full mt-32 p-4 max-w-md" hlmCard>
        <h2 class="text-2xl mt-4 font-bold mb-6 text-center">Reset Password</h2>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
            <div hlmCardContent>
                <div class="mb-4">
                    <label for="password" class="block text-sm font-bold mb-2"
                        >Current Password</label
                    >
                    <input
                        class="w-96"
                        placeholder="Password"
                        hlmInput
                        type="password"
                        formControlName="currentPassword" />
                </div>
                <div class="mb-4">
                    <label for="password" class="block text-sm font-bold mb-2"
                        >New Password</label
                    >
                    <input
                        class="w-96"
                        placeholder="New Password"
                        hlmInput
                        type="password"
                        formControlName="newPassword" />
                </div>
                <div class="mb-4">
                    <label for="password" class="block text-sm font-bold mb-2"
                        >Confirm New Password</label
                    >
                    <input
                        class="w-96"
                        placeholder="Confirm New Password"
                        hlmInput
                        type="password"
                        formControlName="confirmPassword" />
                </div>
                <div class="flex items-center justify-between">
                    <button
                        type="submit"
                        hlmBtn
                        class="bg-success text-success-foreground hover:bg-green-400">
                        Reset Password
                    </button>
                </div>
            </div>
        </form>
    </section>
</div>
