<section class="section-padding">
    <div
        class="container bg-primary-50/80 py-16 border border-primary-100 rounded-lg">
        <div class="grid grid-cols-12">
            <div class="col-span-12 sm:col-span-8">
                <div>
                    <h3 class="text-3xl font-semibold text-primary-500">
                        Download app from Store
                    </h3>
                    <p class="text-xl">
                        Get the app on the Play Store for an enhanced experience
                    </p>
                </div>
            </div>
            <div class="col-span-12 sm:col-span-4">
                <div class="flex items-center justify-center h-full">
                    <button class="btn-fill flex items-center">
                        <img
                            src="../../../../../assets/output.png"
                            width="25"
                            height="20"
                            class="mr-3"
                            alt="" />
                        Download
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
