<app-button-group class="button-group"></app-button-group>

<table
    class="table mat-elevation-z3"
    mat-table
    #table
    [dataSource]="dataSource">
    @for (column of displayedColumns; track column) {

    <ng-container [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef>
            {{ $any(columnNamesMap)[column] }}
        </th>
        <td mat-cell class="cell" *matCellDef="let row">
            @switch (column) { @case ('linkedRequirements') {

            <mat-chip-listbox>
                @for (chip of row.linkedRequirements; track chip) {
                <mat-chip>
                    {{ chip }}
                </mat-chip>
                }
            </mat-chip-listbox>

            } @case ('step') {

            {{ row[column] }}
            <div class="cell-suffix">
                <mat-checkbox>N/A</mat-checkbox>
            </div>

            } @case ('actualResult') {

            {{ row[column] }}
            <div class="cell-suffix">
                <span class="flex-items-center">
                    <mat-icon>attachment</mat-icon>
                    Attach file
                </span>
            </div>

            } @default {

            {{ row[column] }}

            } }
        </td>
    </ng-container>

    }

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<div class="et--buttons">
    <button (click)="openDeviationDialog()" mat-raised-button color="primary">
        Save
    </button>
    <button mat-flat-button>Complete Run</button>
    <button mat-flat-button color="warn">Terminate</button>
    <button mat-flat-button color="accent">Check In</button>
    <button mat-flat-button color="accent">Check Out</button>
</div>
