<nav class="bg-white text-gray-700 w-full shadow-sm">
    <div class="flex flex-wrap items-center justify-between mx-auto px-4 py-2">
        <div>
            <a class="flex justify-center">
                <img
                    [routerLink]="['/']"
                    src="assets/logo/sheresta.png"
                    class="h-12 w-40 cursor-pointer"
                    alt="" />
            </a>
        </div>
        <div class="flex gap-4 items-center">
            @if (userId > 0) {
                <a class="text-base font-medium" [routerLink]="['/home']"
                    >Dashboard</a
                >
                <button id="profileButton">
                    <img
                        src="avatar/avater.img"
                        alt="User image"
                        (error)="showFallback($event)"
                        class="w-10 h-10 object-cover rounded-full" />
                    @if (!uiState.imageLoaded) {
                        <div
                            class="w-10 h-10 inline-block bg-destructive text-white font-semibold text-xl rounded-full">
                            <span class="leading-10">RG</span>
                        </div>
                    }
                </button>

                @if (uiState.showProfileDropDown) {
                    <div
                        class="flex flex-col gap-3 absolute bg-white shadow-md w-56 top-20 right-4 py-4 rounded-md"
                        id="profileDropDown">
                        <button class="flex justify-start px-3 leading-relaxed">
                            <span>John Doe</span>
                        </button>

                        <hr class="opacity-70" />

                        <button
                            class="flex justify-start items-center gap-2 hover:bg-slate-200 transition-all px-3 leading-relaxed"
                            routerLink="/profile">
                            <span
                                class="pi pi-user text-black font-medium"></span>
                            <span>Profile</span>
                        </button>

                        <button
                            class="flex justify-start items-center gap-2 hover:bg-slate-200 transition-all px-3 leading-relaxed">
                            <span
                                class="pi pi-cog text-black font-medium"></span>
                            <span>Settings</span>
                        </button>

                        <button
                            class="flex justify-start items-center hover:bg-slate-200 transition-all px-3 leading-relaxed">
                            <!-- TODO:replace with Keyboard icon -->
                            <span
                                class="pi pi-users text-black font-medium"></span>
                            <!-- <lucide-icon name="keyboard" hlmMenuIcon /> -->
                            <span>Keyboard Shortcuts</span>
                        </button>

                        <button
                            class="flex justify-start items-center gap-2 hover:bg-slate-200 transition-all px-3 leading-relaxed">
                            <span
                                class="pi pi-users text-black font-medium"></span>
                            <span>Team</span>
                        </button>
                        <hr class="opacity-50" />
                        <button
                            (click)="logOut()"
                            class="flex justify-start items-center gap-2 hover:bg-slate-200 transition-all px-3 leading-relaxed">
                            <span
                                class="pi pi-sign-out text-black font-medium"></span>
                            <span>Log Out</span>
                        </button>
                    </div>
                }
            } @else {
                <button class="btn-outline" [routerLink]="['/signup']">
                    Sign Up
                </button>
                <button [routerLink]="['/login']" class="btn-fill">
                    Login
                </button>
            }
        </div>
    </div>
</nav>
