<div>
    <div class="flex justify-between">
        <h1 class="text-4xl font-normal">Upcoming Cases</h1>
        <button
            class="bg-success button-small text-success-foreground hover:bg-green-400"
            [routerLink]="['/']">
            Show All
        </button>
    </div>
    <div>
        <div
            class="grid lg:grid-cols-3 items-center justify-between gap-6 mt-12">
            <div class="space-y-8 py-8 px-4">
                <h1 class="text-6xl text-center">29/5</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Inventore a distinctio iste veniam dicta sapiente illum quod
                    corporis beatae consequuntur quas, cupiditate odio vitae
                    ullam est eos dolorum natus possimus?
                </p>
            </div>
            <div class="space-y-8 py-8 px-4">
                <h1 class="text-6xl text-center">12/6</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Inventore a distinctio iste veniam dicta sapiente illum quod
                    corporis beatae consequuntur quas, cupiditate odio vitae
                    ullam est eos dolorum natus possimus?
                </p>
            </div>
            <div class="space-y-8 py-8 px-4">
                <h1 class="text-6xl text-center">23/6</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Inventore a distinctio iste veniam dicta sapiente illum quod
                    corporis beatae consequuntur quas, cupiditate odio vitae
                    ullam est eos dolorum natus possimus?
                </p>
            </div>
        </div>
    </div>
    <div class="mt-12">
        <h1 class="text-4xl font-normal">Pinned Cases</h1>
        <div
            class="grid lg:grid-cols-2 items-center justify-between gap-6 mt-12">
            <div class="space-y-8 py-2 bg-green-50 px-4">
                <h1 class="text-xl text-center">Tamim vs Shakib</h1>
            </div>
            <div class="space-y-8 py-2 bg-green-50 px-4">
                <h1
                    [routerLink]="['/dashboard-case']"
                    class="text-xl cursor-pointer text-center">
                    Tahsan vs John
                </h1>
            </div>
            <div class="space-y-8 py-2 bg-green-50 px-4">
                <h1 class="text-xl text-center">Ariful vs Shariful</h1>
            </div>
            <div class="space-y-8 bg-green-50 py-2 px-4">
                <h1 class="text-xl text-center">Biden vs Trump</h1>
            </div>
        </div>
    </div>
</div>
